@using BotDetect.Web.Mvc;
@using CommerceProject.Presentation.IlkOrta.Helper;

<style type="text/css">
    .BDC_CaptchaImageDiv{
        float:left;
    }
    .BDC_CaptchaIconsDiv{
        float:left;
    }
</style>

<div>
    <div id="comform" class="form-box register-form form-validator">
        <h3 class="title">Yeni Üyelik</h3>
        <p>Yeni bir üyelik oluşturarak, sipariş verme aşamasına hızlıca gelebilir, birden fazla adrese gönderebilir, kargolarınızı takip edebilir ve daha da fazlasını yapabilirsiniz.</p>

        <div class="form-group">
            <label>Adı : <span class="required">*</span></label>
            <input id="txtKayitAd" name="txtKayitAd" type="text" class="form-control input-sm" data-bv-trigger="blur" required data-bv-notempty-message="Ad girilmeli">
        </div>
        <div class="form-group">
            <label>Soyadı : <span class="required">*</span></label>
            <input id="txtKayitSoyad" name="txtKayitSoyad" type="text" class="form-control input-sm" data-bv-trigger="blur" required data-bv-notempty-message="Soyad girilmeli">
        </div>
        <div class="form-group">
            <label>Kurum : </label>
            <select id="dropDownKayitSirket" name="dropDownKayitSirket" class="form-control select2" style="width:100%;"></select>
        </div>
        <div class="form-group">
            <label>Şifre : <span class="required">*</span></label>
            <input id="txtKayitSifre" name="txtKayitSifre" class="form-control input-sm" type="password" data-bv-trigger="blur" required data-bv-notempty-message="Şifre girilmeli">
        </div>
        <div class="form-group">
            <label>Şifre tekrar : <span class="required">*</span></label>
            <input id="txtKayitSifreTekrar" name="txtKayitSifreTekrar" class="form-control input-sm" type="password" data-bv-trigger="blur" required data-bv-notempty-message="Şifre tekrar girilmeli"
                   data-bv-identical="true" data-bv-identical-field="txtKayitSifre" data-bv-identical-message="Girilen şifreler eşleşmiyor">
        </div>
        <div class="form-group">
            <label>E-posta : <span class="required">*</span></label>
            <input id="txtKayitEposta" name="txtKayitEposta" class="form-control input-sm" type="email" data-bv-trigger="blur" required data-bv-notempty-message="E-posta adresi girilmeli" data-bv-emailaddress="true" data-bv-emailaddress-message="E-posta adresi doğru değil">
        </div>
        <div class="form-group">
            <label class="checkbox">
                <input id="chkHaberBulteniAbonelik" name="chkHaberBulteniAbonelik" type="checkbox"> Haber Bültenine Üye Ol
            </label>
        </div>
        <div class="form-group">
            <div>
                <label>Doğrulama Kodu : <span class="required">*</span></label>
                @{
                    MvcCaptcha kullaniciOlusturCaptcha = CaptchaHelper.GetCaptcha("kullaniciOlusturCaptcha", "txtKullaniciOlusturCaptchaDogrulama");
                }
                @Html.Captcha(kullaniciOlusturCaptcha)
            </div>
            <div class="actions">
                <input id="txtKullaniciOlusturCaptchaDogrulama" name="txtKullaniciOlusturCaptchaDogrulama" class="form-control input-sm" type="text" style="width:250px;" required data-bv-notempty-message="Captcha girilmeli">
            </div>
        </div>
        <div class="buttons-box clearfix">
            <button class="btn btn-default" onclick="javascript: kullaniciOlustur();">Hesap Oluştur</button>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('#dropDownKayitSirket').select2({
            placeholder: "Şirket Seçiniz...",
            allowClear: true,
            language: {
                noResults: function (params) {
                    return "Hiç kayıt bulunamadı.";
                }
            },
            data: @Html.Raw(Json.Encode(ViewBag.SirketListesi))
        }).val('').trigger('change');
    });

    function kullaniciOlustur() {
        if ($('#txtKayitAd').val() == '' || $('#txtKayitSoyad').val() == '' || $('#txtKayitSifre').val() == '' || $('#txtKayitEposta').val() == '' || $('#txtKullaniciOlusturCaptchaDogrulama').val() == '') {
            callAlert('warning', 'Lütfen gerekli alanları doldurunuz.');
            return false;
        }

        if ($('#txtKayitSifre').val() != $('#txtKayitSifreTekrar').val()) {
            callAlert('warning', 'Girilen şifreler uyuşmuyor.');
            return false;
        }

        var captchaControl = $("#txtKullaniciOlusturCaptchaDogrulama");
        var captchaObj = captchaControl.get(0).Captcha;

        $.ajax({
            url: '/Kullanici/KullaniciOlustur',
            data: {
                'ad': $('#txtKayitAd').val(),
                'soyad': $('#txtKayitSoyad').val(),
                'sirketId': ($('#dropDownKayitSirket').val() != null && $('#dropDownKayitSirket').val() != '') ? $('#dropDownKayitSirket').val() : null,
                'sifre': $('#txtKayitSifre').val(),
                'eposta': $('#txtKayitEposta').val(),
                'captchaId': captchaObj.Id,
                'instanceId': captchaObj.InstanceId,
                'userInput': captchaControl.val(),
            },
            type: "post",
            beforeSend: function () {
                showLoadingModal();
            },
            success: function (result) {
                hideLoadingModal();

                if (result != null) {
                    callAlert(result.messageType, result.message);

                    if (result.messageType == 'success') {
                        window.location = '/';
                    }
                }
                else {
                    callAlert('error', 'İşlem sırasında bir hata oluştu.');
                }

                captchaObj.ReloadImage();
            },
            error: function () {
                hideLoadingModal();
                callAlert('error', 'Beklenmedik bir sorun oluştu. Lütfen tekrar deneyin.');
                captchaObj.ReloadImage();
            }
        });
    }
</script>