<div id="divOkulPaketiYardimcisi" class="row steps steps-apart" data-appear-animation="fadeIn">
    <div class="col-sm-3 col-md-3">
        <div id="step1" name="step1" class="step text-center border-success bg-success white">
            <div class="step-wrapper">
                <span class="livicon" data-n="location" data-s="64" data-c="#fff" data-hc="#f6f5f5"></span>
                <div class="title-box text-center title-white">
                    <h4 class="title">Şehrini Seç</h4>
                </div>
                <p>
                    <select id="drpSehirler" class="form-control without-styles select2" style="width: 100%;"></select>
                </p>
            </div>
        </div>
    </div>

    <div id="step2" name="step2" class="col-sm-3 col-md-3">
        <div class="step text-center border-info bg-info white">
            <div class="step-wrapper">
                <span class="livicon" data-n="home" data-s="64" data-c="#fff" data-hc="#f6f5f5"></span>
                <div class="title-box text-center title-white">
                    <h4 class="title">Okulunu Seç</h4>
                </div>
                <p>
                    <select id="drpOkullar" class="form-control without-styles select2" style="width: 100%;"></select>
                </p>
            </div>
        </div>
    </div>

    <div id="step3" name="step3" class="col-sm-3 col-md-3">
        <div class="step text-center border-warning bg-warning white">
            <div class="step-wrapper">
                <span class="livicon" data-n="pencil" data-s="64" data-c="#fff" data-hc="#f6f5f5"></span>
                <div class="title-box text-center title-white">
                    <h4 class="title">Sınıfını Seç</h4>
                </div>
                <p>
                    <select id="drpSiniflar" class="form-control without-styles select2" style="width: 100%;"></select>
                </p>
            </div>
        </div>
    </div>

    <div id="step4" name="step4" class="col-sm-3 col-md-3">
        <div class="step text-center border-danger bg-danger white" style="padding-bottom:10px !important;">
            <div class="step-wrapper">
                <span class="livicon" data-n="shopping-cart" data-s="64" data-c="#fff" data-hc="#f6f5f5"></span>
                <div class="title-box text-center title-white">
                    <h4 class="title">Paketleri Seç</h4>
                </div>
                <p>
                    <a id="btnPaketGoster" class="btn btn-block btn-success btn-sm" href="/"><i class="livicon shadowed" data-s="16" data-n="shopping-cart" data-c="white" data-hc="0"></i> Göster</a>
                </p>
            </div>
        </div>
    </div>
</div>

