@using CommerceProject.Business.Entities

@{
    ViewBag.Title = "IadeKosullari";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var icerikAyar = ViewBag.IcerikAyar as IcerikAyar;
}

<section id="main">
    <header class="page-header">
        <div class="container">
            <h3 class="title">İade Koşulları</h3>
        </div>
    </header>

    <div class="container" data-appear-animation="fadeIn">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="content-block bottom-padding frame frame-shadow-curved">
                    @Html.Raw(icerikAyar.IadeKosullari)
                </div>
            </div>
        </div>
    </div>
</section>