
@{
    ViewBag.Title = "SiteHaritasi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="main">
    <header class="page-header">
        <div class="container">
            <h3 class="title">Site Haritası</h3>
        </div>
    </header>

    <div class="container" data-appear-animation="fadeIn">
        <div class="row">
            <article class="content col-sm-12 col-md-12">
                <ul class="sitemap">
                    <li><a href="/">Anasayfa</a></li>   
                    <li><a href="/Kullanici/Giris">Kullanıcı Kayıt ve Giriş</a></li> 
                    <li><a href="/Kullanici/SifreGonder">Şifre Kurtarma</a></li> 
                    <li><a href="/Kullanici/Siparis">Kargo Takip</a></li>                  
                    <li><a href="/Bilgi/Iletisim">İletişim</a></li>
                    <li><a href="/Bilgi/Hakkimizda">Hakkımızda</a></li>
                    <li><a href="/Bilgi/SSS">Sık Sorulan Sorular</a></li>
                    <li><a href="/Bilgi/MesafeliSatisSozlesmesi">Mesafeli Satış Sözleşmesi</a></li>
                    <li><a href="/Bilgi/GuvenlikIlkeleri">Güvenlik İlkeleri</a></li>
                    <li><a href="/Bilgi/TuketiciHaklari">Tüketici Hakları</a></li>
                    <li><a href="/Bilgi/HesapNumaralari">Hesap Numaraları</a></li>
                    <li><a href="/Bilgi/IadeKosullari">İade Koşulları</a></li>
                </ul>
            </article>
        </div>
    </div>
</section>
