@using CommerceProject.Business.Entities

@{
    ViewBag.Title = "SSS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var sssler = ViewBag.SSS as List<SSS>;
}

<section id="main">
    <header class="page-header">
        <div class="container">
            <h3 class="title">Sık Sorulan Sorular</h3>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <article class="content col-sm-12 col-md-12">
                <p>Açıklama aaaaa bbbb cccc ddddd eeeee fff gggg...</p>
                <p>Açıklama aaaaa bbbb cccc ddddd eeeee fff gggg...</p>
                <br>
                <div class="clearfix"></div>

                <div class="panel-group" id="accordion">
                    @foreach (var sss in sssler)
                    {
                        <div class="panel panel-default panel-bg web-design">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse_@sss.SSSId">
                                        @sss.Baslik
                                    </a>
                                </div>
                            </div>
                            <div id="collapse_@sss.SSSId" class="panel-collapse collapse">
                                <div class="panel-body">
                                    @sss.Icerik
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </article>
        </div>
    </div>
</section>