USE [master]
GO
/****** Object:  Database [CommerceProjectDB]    Script Date: 12.07.2022 23:31:24 ******/
CREATE DATABASE [CommerceProjectDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CommerceProjectDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\CommerceProjectDB.mdf' , SIZE = 89280KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CommerceProjectDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\CommerceProjectDB_log.ldf' , SIZE = 202816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CommerceProjectDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CommerceProjectDB]
GO
/****** Object:  User [IIS APPPOOL\IlkOrtaComAdmin]    Script Date: 12.07.2022 23:31:24 ******/
CREATE USER [IIS APPPOOL\IlkOrtaComAdmin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [IIS APPPOOL\IlkOrtaCom]    Script Date: 12.07.2022 23:31:24 ******/
CREATE USER [IIS APPPOOL\IlkOrtaCom] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [IIS APPPOOL\IlkOrtaComAdmin]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [IIS APPPOOL\IlkOrtaComAdmin]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [IIS APPPOOL\IlkOrtaComAdmin]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [IIS APPPOOL\IlkOrtaComAdmin]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [IIS APPPOOL\IlkOrtaComAdmin]
GO
ALTER ROLE [db_datareader] ADD MEMBER [IIS APPPOOL\IlkOrtaComAdmin]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [IIS APPPOOL\IlkOrtaComAdmin]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [IIS APPPOOL\IlkOrtaComAdmin]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [IIS APPPOOL\IlkOrtaComAdmin]
GO
ALTER ROLE [db_owner] ADD MEMBER [IIS APPPOOL\IlkOrtaCom]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [IIS APPPOOL\IlkOrtaCom]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [IIS APPPOOL\IlkOrtaCom]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [IIS APPPOOL\IlkOrtaCom]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [IIS APPPOOL\IlkOrtaCom]
GO
ALTER ROLE [db_datareader] ADD MEMBER [IIS APPPOOL\IlkOrtaCom]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [IIS APPPOOL\IlkOrtaCom]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [IIS APPPOOL\IlkOrtaCom]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [IIS APPPOOL\IlkOrtaCom]
GO
/****** Object:  Schema [Banka]    Script Date: 12.07.2022 23:31:24 ******/
CREATE SCHEMA [Banka]
GO
/****** Object:  Schema [Personel]    Script Date: 12.07.2022 23:31:24 ******/
CREATE SCHEMA [Personel]
GO
/****** Object:  Schema [Program]    Script Date: 12.07.2022 23:31:24 ******/
CREATE SCHEMA [Program]
GO
/****** Object:  Schema [Satis]    Script Date: 12.07.2022 23:31:24 ******/
CREATE SCHEMA [Satis]
GO
/****** Object:  Schema [Sayfa]    Script Date: 12.07.2022 23:31:24 ******/
CREATE SCHEMA [Sayfa]
GO
/****** Object:  Schema [Urun]    Script Date: 12.07.2022 23:31:24 ******/
CREATE SCHEMA [Urun]
GO
/****** Object:  Schema [Uyelik]    Script Date: 12.07.2022 23:31:24 ******/
CREATE SCHEMA [Uyelik]
GO
/****** Object:  Table [Banka].[Banka]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Banka].[Banka](
	[BankaId] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [nvarchar](100) NOT NULL,
	[Logo] [nvarchar](50) NOT NULL,
	[Sira] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_BankaSirket] PRIMARY KEY CLUSTERED 
(
	[BankaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Banka].[HesapNumarasi]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Banka].[HesapNumarasi](
	[HesapNumarasiId] [int] IDENTITY(1,1) NOT NULL,
	[BankaId] [int] NOT NULL,
	[Iban] [varchar](100) NOT NULL,
	[Sehir] [varchar](100) NOT NULL,
	[SubeKodu] [varchar](100) NOT NULL,
	[SubeAdi] [varchar](100) NOT NULL,
	[HesapNo] [varchar](100) NOT NULL,
	[HesapSahibi] [varchar](100) NOT NULL,
	[Sira] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_HesapNumarasi] PRIMARY KEY CLUSTERED 
(
	[HesapNumarasiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Banka].[KrediKartiTip]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Banka].[KrediKartiTip](
	[KrediKartiTipId] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [varchar](50) NOT NULL,
	[Sira] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_KrediKartiTip] PRIMARY KEY CLUSTERED 
(
	[KrediKartiTipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Banka].[SanalPos]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Banka].[SanalPos](
	[SanalPosId] [int] IDENTITY(1,1) NOT NULL,
	[BankaId] [int] NOT NULL,
	[Host] [varchar](100) NULL,
	[Name] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[ClientId] [varchar](50) NULL,
	[Currency] [varchar](50) NULL,
	[ChargeType] [varchar](50) NULL,
	[PosNumber] [varchar](50) NULL,
	[Xcip] [varchar](50) NULL,
	[DDDAktifMi] [bit] NOT NULL,
	[DDDStoreKey] [varchar](50) NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_SanalPosAkBank] PRIMARY KEY CLUSTERED 
(
	[SanalPosId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Banka].[Taksit]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Banka].[Taksit](
	[TaksitId] [int] IDENTITY(1,1) NOT NULL,
	[BankaId] [int] NOT NULL,
	[TaksitSayisi] [int] NOT NULL,
	[FaizOrani] [decimal](18, 4) NOT NULL,
	[Sira] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_Taksit] PRIMARY KEY CLUSTERED 
(
	[TaksitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Program].[Cache]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Program].[Cache](
	[CacheId] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [varchar](50) NOT NULL,
	[Aciklama] [varchar](500) NULL,
	[Sira] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_Cache] PRIMARY KEY CLUSTERED 
(
	[CacheId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Program].[EpostaKuyrugu]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Program].[EpostaKuyrugu](
	[EpostaKuyruguId] [int] IDENTITY(1,1) NOT NULL,
	[From] [nvarchar](500) NOT NULL,
	[FromName] [nvarchar](500) NULL,
	[To] [nvarchar](500) NOT NULL,
	[ToName] [nvarchar](500) NULL,
	[ReplyTo] [nvarchar](500) NULL,
	[ReplyToName] [nvarchar](500) NULL,
	[CC] [nvarchar](500) NULL,
	[Bcc] [nvarchar](500) NULL,
	[Subject] [nvarchar](500) NULL,
	[Body] [nvarchar](4000) NULL,
	[AttachmentFilePath] [nvarchar](500) NULL,
	[AttachmentFileName] [nvarchar](500) NULL,
	[OlusturmaTarihi] [datetime] NOT NULL,
	[GonderimDenemesi] [int] NOT NULL,
	[GonderimTarihi] [datetime] NULL,
 CONSTRAINT [PK__EpostaKu__3214EC076A3437EE] PRIMARY KEY CLUSTERED 
(
	[EpostaKuyruguId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Program].[IcerikAyar]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Program].[IcerikAyar](
	[AyarId] [int] IDENTITY(1,1) NOT NULL,
	[UygulamaAd] [varchar](100) NOT NULL,
	[UygulamaAciklama] [varchar](500) NOT NULL,
	[Url] [varchar](100) NOT NULL,
	[SecureUrl] [varchar](100) NULL,
	[FacebookHesapUrl] [varchar](100) NULL,
	[TwitterHesapUrl] [varchar](100) NULL,
	[KeepAliveTime] [int] NOT NULL,
	[ClearCacheTime] [int] NOT NULL,
	[CookieTime] [int] NOT NULL,
	[SslAktifMi] [bit] NOT NULL,
	[SirketAd] [varchar](200) NOT NULL,
	[SirketAciklama] [varchar](500) NOT NULL,
	[SirketAdres] [varchar](750) NOT NULL,
	[SirketTelefon1] [varchar](50) NOT NULL,
	[SirketTelefon2] [varchar](50) NULL,
	[SirketFax1] [varchar](50) NULL,
	[SirketFax2] [varchar](50) NULL,
	[SirketEposta] [varchar](100) NOT NULL,
	[SirketMapCode] [varchar](1000) NULL,
	[SirketHakkimizda] [varchar](max) NOT NULL,
	[ParaPuanLimit] [decimal](18, 4) NOT NULL,
	[ParaPuanKazanc] [decimal](18, 4) NOT NULL,
	[ParaPuanAktifMi] [bit] NOT NULL,
	[SayfaUrunYorumAktifMi] [bit] NOT NULL,
	[SayfaKuponAktifMi] [bit] NOT NULL,
	[MisafirSatinAlmaAktifMi] [bit] NOT NULL,
	[KdvDahilMi] [bit] NOT NULL,
	[CacheAktifMi] [bit] NOT NULL,
	[IpBloklamaAktifMi] [bit] NOT NULL,
	[UygulamaAktifMi] [bit] NOT NULL,
	[KucukLogoResimUrl] [varchar](500) NULL,
	[BuyukLogoResimUrl] [varchar](500) NULL,
	[GonderilecekEposta] [varchar](100) NOT NULL,
	[GonderilecekEpostaTanim] [varchar](500) NOT NULL,
	[GonderilecekEpostaKullaniciAdi] [varchar](100) NOT NULL,
	[GonderilecekEpostaSifre] [varchar](50) NOT NULL,
	[GonderilecekEpostaHost] [varchar](100) NOT NULL,
	[GonderilecekEpostaPort] [int] NOT NULL,
	[GonderilecekEpostaAktifMi] [bit] NOT NULL,
	[SmsKullaniciAdi] [varchar](100) NOT NULL,
	[SmsSifre] [varchar](50) NOT NULL,
	[MetaTitle] [varchar](500) NULL,
	[MetaKeywords] [varchar](500) NULL,
	[MetaDescription] [varchar](500) NULL,
	[MesafeliSatisSozlesmesi] [varchar](max) NULL,
	[GuvenlikIlkeleri] [varchar](max) NULL,
	[TuketiciHaklari] [varchar](max) NULL,
	[IadeKosullari] [varchar](max) NULL,
	[DDDSuccessURL] [varchar](100) NULL,
	[DDDErrorURL] [varchar](100) NULL,
	[DDDConfirmURL] [varchar](100) NULL,
 CONSTRAINT [PK__Setting__3214EC07403F35F0] PRIMARY KEY CLUSTERED 
(
	[AyarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Program].[IpAdres]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Program].[IpAdres](
	[IpAdresId] [int] IDENTITY(1,1) NOT NULL,
	[IpAdresi] [varchar](50) NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_IpAdres] PRIMARY KEY CLUSTERED 
(
	[IpAdresId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Program].[Log]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Program].[Log](
	[system_logging_guid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[entered_date] [datetime] NULL,
	[log_application] [varchar](200) NULL,
	[log_date] [varchar](100) NULL,
	[log_level] [varchar](100) NULL,
	[log_logger] [varchar](8000) NULL,
	[log_message] [varchar](8000) NULL,
	[log_machine_name] [varchar](8000) NULL,
	[log_user_name] [varchar](8000) NULL,
	[log_call_site] [varchar](8000) NULL,
	[log_thread] [varchar](100) NULL,
	[log_exception] [varchar](8000) NULL,
	[log_stacktrace] [varchar](8000) NULL,
 CONSTRAINT [PK_system_logging] PRIMARY KEY CLUSTERED 
(
	[system_logging_guid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Program].[SmsKuyrugu]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Program].[SmsKuyrugu](
	[SmsKuyruguId] [int] IDENTITY(1,1) NOT NULL,
	[TelefonNo] [varchar](50) NOT NULL,
	[Icerik] [varchar](160) NOT NULL,
	[OlusturmaTarihi] [datetime] NOT NULL,
	[GonderimDenemesi] [int] NOT NULL,
	[GonderimTarihi] [datetime] NULL,
 CONSTRAINT [PK_SmsKuyrugu] PRIMARY KEY CLUSTERED 
(
	[SmsKuyruguId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Satis].[Adres]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Satis].[Adres](
	[AdresId] [int] IDENTITY(1,1) NOT NULL,
	[FaturaTipId] [int] NOT NULL,
	[AdresAdi] [varchar](50) NOT NULL,
	[Ad] [varchar](200) NOT NULL,
	[Soyad] [varchar](200) NOT NULL,
	[TcNo] [char](11) NULL,
	[FirmaUnvan] [varchar](200) NULL,
	[VergiNo] [char](10) NULL,
	[VergiDairesi] [varchar](200) NULL,
	[AdresBilgi] [varchar](500) NOT NULL,
	[Aciklama] [varchar](250) NULL,
	[PostaKodu] [varchar](50) NULL,
	[AdresIlceId] [int] NOT NULL,
	[AdresIlId] [int] NOT NULL,
	[Telefon1] [varchar](50) NOT NULL,
	[Telefon2] [varchar](50) NULL,
	[Tarih] [datetime] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK__Adres__3214EC07EFC9D755] PRIMARY KEY CLUSTERED 
(
	[AdresId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Satis].[AdresIl]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Satis].[AdresIl](
	[AdresIlId] [int] IDENTITY(1,1) NOT NULL,
	[IlAdi] [varchar](50) NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_iller] PRIMARY KEY CLUSTERED 
(
	[AdresIlId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Satis].[AdresIlce]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Satis].[AdresIlce](
	[AdresIlceId] [int] IDENTITY(1,1) NOT NULL,
	[AdresIlId] [int] NOT NULL,
	[IlceAdi] [varchar](50) NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_ilceler] PRIMARY KEY CLUSTERED 
(
	[AdresIlceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Satis].[FaturaTip]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Satis].[FaturaTip](
	[FaturaTipId] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [varchar](50) NOT NULL,
	[Sira] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_FaturaTip] PRIMARY KEY CLUSTERED 
(
	[FaturaTipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Satis].[Gonderim]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Satis].[Gonderim](
	[GonderimId] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [varchar](50) NOT NULL,
	[Aciklama] [varchar](500) NULL,
	[GonderimSorgulamaLink] [varchar](100) NULL,
	[AltLimit] [decimal](18, 4) NOT NULL,
	[Fiyat] [decimal](18, 4) NOT NULL,
	[Resim] [varchar](200) NULL,
	[Sira] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK__Kargo__3214EC076107F877] PRIMARY KEY CLUSTERED 
(
	[GonderimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Satis].[IadeTalep]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Satis].[IadeTalep](
	[IadeTalepId] [int] IDENTITY(1,1) NOT NULL,
	[SiparisDetayId] [int] NOT NULL,
	[IadeTalepNedenTipId] [int] NOT NULL,
	[IadeTalepIstekTipId] [int] NOT NULL,
	[IadeTalepDurumTipId] [int] NOT NULL,
	[Adet] [int] NOT NULL,
	[IadeNeden] [varchar](500) NOT NULL,
	[IadeIstek] [varchar](500) NOT NULL,
	[KullaniciAciklama] [varchar](500) NULL,
	[PersonelAciklama] [varchar](500) NULL,
	[OlusturmaTarihi] [datetime] NOT NULL,
	[GuncellemeTarihi] [datetime] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK__IadeTale__3214EC07AA682A33] PRIMARY KEY CLUSTERED 
(
	[IadeTalepId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Satis].[IadeTalepDurumTip]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Satis].[IadeTalepDurumTip](
	[IadeTalepDurumTipId] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [varchar](50) NOT NULL,
	[Sira] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_IadeTalepGonderimTip] PRIMARY KEY CLUSTERED 
(
	[IadeTalepDurumTipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Satis].[IadeTalepIstekTip]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Satis].[IadeTalepIstekTip](
	[IadeTalepIstekTipId] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [varchar](50) NOT NULL,
	[Sira] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK__IadeTale__3214EC0701DAEC48] PRIMARY KEY CLUSTERED 
(
	[IadeTalepIstekTipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Satis].[IadeTalepNedenTip]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Satis].[IadeTalepNedenTip](
	[IadeTalepNedenTipId] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [varchar](50) NOT NULL,
	[Sira] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK__IadeTale__3214EC072DA22BDA] PRIMARY KEY CLUSTERED 
(
	[IadeTalepNedenTipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Satis].[Iskonto]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Satis].[Iskonto](
	[IskontoId] [int] IDENTITY(1,1) NOT NULL,
	[IskontoTipId] [int] NOT NULL,
	[Adi] [varchar](50) NOT NULL,
	[Aciklama] [varchar](500) NULL,
	[IskontoMiktari] [decimal](18, 4) NOT NULL,
	[MinimumFiyat] [decimal](18, 4) NULL,
	[MaksimumFiyat] [decimal](18, 4) NULL,
	[HediyeKartAktifMi] [bit] NOT NULL,
	[HediyeKartKuponKod] [varchar](50) NULL,
	[BaslangicTarih] [datetime] NULL,
	[BitisTarih] [datetime] NULL,
	[Sira] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK__Discount__3214EC0797F7B114] PRIMARY KEY CLUSTERED 
(
	[IskontoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Satis].[IskontoKategori]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Satis].[IskontoKategori](
	[IskontoKategoriId] [int] IDENTITY(1,1) NOT NULL,
	[IskontoId] [int] NOT NULL,
	[KategoriId] [int] NOT NULL,
	[AltKategorilerdeGecerliMi] [bit] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK__IndirimK__9AC84AD21287AD20] PRIMARY KEY CLUSTERED 
(
	[IskontoKategoriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Satis].[IskontoKullanimHareket]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Satis].[IskontoKullanimHareket](
	[IskontoKullanimId] [int] IDENTITY(1,1) NOT NULL,
	[IskontoId] [int] NOT NULL,
	[SiparisId] [int] NOT NULL,
	[Tarih] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IskontoKullanimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Satis].[IskontoMarka]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Satis].[IskontoMarka](
	[IskontoMarkaId] [int] IDENTITY(1,1) NOT NULL,
	[IskontoId] [int] NOT NULL,
	[MarkaId] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_IskontoMarka] PRIMARY KEY CLUSTERED 
(
	[IskontoMarkaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Satis].[IskontoRol]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Satis].[IskontoRol](
	[IskontoRolId] [int] IDENTITY(1,1) NOT NULL,
	[IskontoId] [int] NOT NULL,
	[RolId] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_IskontoRol] PRIMARY KEY CLUSTERED 
(
	[IskontoRolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Satis].[IskontoSirket]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Satis].[IskontoSirket](
	[IskontoSirketId] [int] IDENTITY(1,1) NOT NULL,
	[IskontoId] [int] NOT NULL,
	[SirketId] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK__IndirimU__74137B22D53E37BA] PRIMARY KEY CLUSTERED 
(
	[IskontoSirketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Satis].[IskontoTip]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Satis].[IskontoTip](
	[IskontoTipId] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [varchar](50) NOT NULL,
	[Sira] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_IskontoTip] PRIMARY KEY CLUSTERED 
(
	[IskontoTipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Satis].[IskontoUrun]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Satis].[IskontoUrun](
	[IskontoUrunId] [int] IDENTITY(1,1) NOT NULL,
	[IskontoId] [int] NOT NULL,
	[UrunId] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_IndirimUrun] PRIMARY KEY CLUSTERED 
(
	[IskontoUrunId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Satis].[IstekListesi]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Satis].[IstekListesi](
	[IstekListesiId] [int] IDENTITY(1,1) NOT NULL,
	[UrunId] [int] NOT NULL,
	[KullaniciId] [uniqueidentifier] NOT NULL,
	[Tarih] [datetime] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_FavoriListesi] PRIMARY KEY CLUSTERED 
(
	[IstekListesiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Satis].[KatmanliFiyat]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Satis].[KatmanliFiyat](
	[KatmanliFiyatId] [int] IDENTITY(1,1) NOT NULL,
	[UrunId] [int] NOT NULL,
	[SirketId] [int] NULL,
	[RolId] [int] NULL,
	[Adet] [int] NOT NULL,
	[Fiyat] [decimal](18, 4) NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK__TierPric__3214EC070876E803] PRIMARY KEY CLUSTERED 
(
	[KatmanliFiyatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Satis].[KomisyonIskontoTip]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Satis].[KomisyonIskontoTip](
	[KomisyonIskontoTipId] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [varchar](50) NOT NULL,
	[Sira] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_KomisyonIskontoTip] PRIMARY KEY CLUSTERED 
(
	[KomisyonIskontoTipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Satis].[OdemeDurumTip]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Satis].[OdemeDurumTip](
	[OdemeDurumTipId] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [varchar](50) NOT NULL,
	[Sira] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_OdemeDurumTip] PRIMARY KEY CLUSTERED 
(
	[OdemeDurumTipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Satis].[Sepet]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Satis].[Sepet](
	[SepetId] [int] IDENTITY(1,1) NOT NULL,
	[SepetTipId] [int] NOT NULL,
	[KullaniciId] [uniqueidentifier] NOT NULL,
	[UrunId] [int] NOT NULL,
	[Adet] [int] NOT NULL,
	[OlusturmaTarihi] [datetime] NOT NULL,
	[GuncellemeTarihi] [datetime] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK__Sepet__3214EC0700F00156] PRIMARY KEY CLUSTERED 
(
	[SepetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Satis].[SepetTip]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Satis].[SepetTip](
	[SepetTipId] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [varchar](50) NOT NULL,
	[Aciklama] [varchar](500) NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_SepetTip] PRIMARY KEY CLUSTERED 
(
	[SepetTipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Satis].[Siparis]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Satis].[Siparis](
	[SiparisId] [int] IDENTITY(1000,1) NOT NULL,
	[KullaniciId] [uniqueidentifier] NOT NULL,
	[FaturaAdresId] [int] NOT NULL,
	[GonderimAdresId] [int] NOT NULL,
	[SiparisOdemeTipId] [int] NOT NULL,
	[SiparisDurumTipId] [int] NOT NULL,
	[OdemeDurumTipId] [int] NOT NULL,
	[KrediKartiTipId] [int] NULL,
	[KrediKartiBankaId] [int] NULL,
	[KrediKartiAdSoyad] [varchar](100) NULL,
	[KrediKartiMaskeliNumara] [varchar](50) NULL,
	[KrediKartiTaksit] [int] NULL,
	[KrediKartiTransferId] [varbinary](50) NULL,
	[ToplamIskonto] [decimal](18, 4) NOT NULL,
	[ToplamKomisyon] [decimal](18, 4) NOT NULL,
	[KullanilanParaPuanMiktar] [decimal](18, 4) NOT NULL,
	[KalanParaPuanMiktar] [decimal](18, 4) NOT NULL,
	[KuponMiktar] [decimal](18, 4) NOT NULL,
	[UrunKdvDahilToplamTutar] [decimal](18, 4) NOT NULL,
	[UrunKdvHaricToplamTutar] [decimal](18, 4) NOT NULL,
	[UrunKdvToplamTutar] [decimal](18, 4) NOT NULL,
	[OdemeTipUcreti] [decimal](18, 4) NOT NULL,
	[GonderimUcreti] [decimal](18, 4) NOT NULL,
	[OdenecekTutar] [decimal](18, 4) NOT NULL,
	[IadeToplam] [decimal](18, 4) NOT NULL,
	[Aciklama] [varchar](500) NULL,
	[KullaniciIp] [varchar](50) NULL,
	[SiparisTarihi] [datetime] NOT NULL,
	[SonIslemTarihi] [datetime] NOT NULL,
	[OdemeTarihi] [datetime] NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK__Siparis__3214EC07D0DB31FD] PRIMARY KEY CLUSTERED 
(
	[SiparisId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Satis].[SiparisDetay]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Satis].[SiparisDetay](
	[SiparisDetayId] [int] IDENTITY(1,1) NOT NULL,
	[SiparisId] [int] NOT NULL,
	[UrunId] [int] NOT NULL,
	[Adet] [int] NOT NULL,
	[UrunBirimKdvDahilTutar] [decimal](18, 4) NOT NULL,
	[UrunBirimKdvHaricTutar] [decimal](18, 4) NOT NULL,
	[UrunBirimKdvTutar] [decimal](18, 4) NOT NULL,
	[HesaplananBirimKdvDahilTutar] [decimal](18, 4) NOT NULL,
	[HesaplananBirimKdvHaricTutar] [decimal](18, 4) NOT NULL,
	[HesaplananBirimKdvTutar] [decimal](18, 4) NOT NULL,
	[HesaplananKdvDahilTutar] [decimal](18, 4) NOT NULL,
	[HesaplananKdvHaricTutar] [decimal](18, 4) NOT NULL,
	[HesaplananKdvTutar] [decimal](18, 4) NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK__SiparisD__3214EC071D671A10] PRIMARY KEY CLUSTERED 
(
	[SiparisDetayId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Satis].[SiparisDurumTip]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Satis].[SiparisDurumTip](
	[SiparisDurumTipId] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [varchar](50) NOT NULL,
	[Sira] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_SiparisDurumTip] PRIMARY KEY CLUSTERED 
(
	[SiparisDurumTipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Satis].[SiparisGonderim]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Satis].[SiparisGonderim](
	[SiparisGonderimId] [int] IDENTITY(1,1) NOT NULL,
	[SiparisDetayId] [int] NOT NULL,
	[GonderimId] [int] NOT NULL,
	[TeslimZamaniId] [int] NOT NULL,
	[TakipNo] [varchar](50) NULL,
	[Adet] [int] NOT NULL,
	[Aciklama] [varchar](500) NULL,
	[GonderimTarihi] [datetime] NOT NULL,
	[TeslimTarihi] [datetime] NULL,
	[OlusturmaTarihi] [datetime] NOT NULL,
	[GuncellemeTarihi] [datetime] NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK__SiparisK__3214EC076B5C3314] PRIMARY KEY CLUSTERED 
(
	[SiparisGonderimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Satis].[SiparisHareket]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Satis].[SiparisHareket](
	[SiparisHareketId] [int] IDENTITY(1,1) NOT NULL,
	[SiparisId] [int] NOT NULL,
	[Aciklama] [varchar](500) NOT NULL,
	[KullaniciyaGosterilecekMi] [bit] NOT NULL,
	[Tarih] [datetime] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK__SiparisH__3214EC07F49C7827] PRIMARY KEY CLUSTERED 
(
	[SiparisHareketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Satis].[SiparisOdemeTip]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Satis].[SiparisOdemeTip](
	[SiparisOdemeTipId] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [varchar](50) NOT NULL,
	[KomisyonIskontoTipId] [int] NOT NULL,
	[Miktar] [decimal](18, 4) NOT NULL,
	[Sira] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_SiparisOdemeTip] PRIMARY KEY CLUSTERED 
(
	[SiparisOdemeTipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Satis].[TeslimZamani]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Satis].[TeslimZamani](
	[TeslimZamaniId] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [varchar](50) NOT NULL,
	[Sira] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK__TeslimZa__3214EC074CF6C408] PRIMARY KEY CLUSTERED 
(
	[TeslimZamaniId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Sayfa].[Anket]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sayfa].[Anket](
	[AnketId] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [varchar](50) NOT NULL,
	[Aciklama] [varchar](500) NULL,
	[BaslangicTarihi] [datetime] NOT NULL,
	[BitisTarihi] [datetime] NOT NULL,
	[Sira] [int] NOT NULL,
	[ZiyaretciCevapAktifMi] [bit] NOT NULL,
	[YayindaMi] [bit] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK__Anket__3214EC07278E344B] PRIMARY KEY CLUSTERED 
(
	[AnketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Sayfa].[AnketCevap]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sayfa].[AnketCevap](
	[AnketCevapId] [int] IDENTITY(1,1) NOT NULL,
	[AnketSoruId] [int] NOT NULL,
	[KullaniciId] [uniqueidentifier] NOT NULL,
	[CevapSonuc] [bit] NOT NULL,
	[Tarih] [datetime] NOT NULL,
 CONSTRAINT [PK__AnketCev__3214EC07610358D8] PRIMARY KEY CLUSTERED 
(
	[AnketCevapId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Sayfa].[AnketSoru]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sayfa].[AnketSoru](
	[AnketSoruId] [int] IDENTITY(1,1) NOT NULL,
	[AnketId] [int] NOT NULL,
	[Soru] [varchar](500) NOT NULL,
	[Sira] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK__AnketSor__3214EC07A1D3A8D8] PRIMARY KEY CLUSTERED 
(
	[AnketSoruId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Sayfa].[Banner]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sayfa].[Banner](
	[BannerId] [int] IDENTITY(1,1) NOT NULL,
	[BannerTipId] [int] NOT NULL,
	[Adi] [varchar](50) NOT NULL,
	[Aciklama1] [varchar](500) NULL,
	[Aciklama2] [varchar](500) NULL,
	[Link] [varchar](100) NULL,
	[Resim] [varchar](200) NOT NULL,
	[Sira] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_Banner] PRIMARY KEY CLUSTERED 
(
	[BannerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Sayfa].[BannerTip]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sayfa].[BannerTip](
	[BannerTipId] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [varchar](50) NOT NULL,
	[Sira] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_BannerTip] PRIMARY KEY CLUSTERED 
(
	[BannerTipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Sayfa].[HaberBlog]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sayfa].[HaberBlog](
	[HaberBlogId] [int] IDENTITY(1,1) NOT NULL,
	[HaberBlogTipId] [int] NOT NULL,
	[Baslik] [varchar](50) NOT NULL,
	[Icerik] [varchar](500) NOT NULL,
	[YorumYapilabilsinMi] [bit] NOT NULL,
	[MetaKeywords] [nvarchar](400) NULL,
	[MetaDescription] [nvarchar](max) NULL,
	[MetaTitle] [nvarchar](400) NULL,
	[BaslangicTarihi] [datetime] NULL,
	[BitisTarihi] [datetime] NULL,
	[Tarih] [datetime] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK__Haber__3214EC0790DCC7E9] PRIMARY KEY CLUSTERED 
(
	[HaberBlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Sayfa].[HaberBlogResim]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sayfa].[HaberBlogResim](
	[ResimId] [int] IDENTITY(1,1) NOT NULL,
	[HaberBlogId] [int] NOT NULL,
	[ResimYolu] [varchar](200) NOT NULL,
	[Aciklama] [nvarchar](500) NULL,
	[AltAttribute] [varchar](500) NULL,
	[TitleAttribute] [varchar](500) NULL,
	[YeniMi] [bit] NOT NULL,
	[Tarih] [datetime] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_HaberBlogResim] PRIMARY KEY CLUSTERED 
(
	[ResimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Sayfa].[HaberBlogTip]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sayfa].[HaberBlogTip](
	[HaberBlogTipId] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [varchar](50) NOT NULL,
	[Sira] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_HaberBlogTip] PRIMARY KEY CLUSTERED 
(
	[HaberBlogTipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Sayfa].[HaberBlogYorum]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sayfa].[HaberBlogYorum](
	[HaberBlogYorumId] [int] IDENTITY(1,1) NOT NULL,
	[HaberBlogId] [int] NOT NULL,
	[KullaniciId] [uniqueidentifier] NOT NULL,
	[Yorum] [varchar](500) NULL,
	[Tarih] [datetime] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK__HaberYor__3214EC07DB7DD951] PRIMARY KEY CLUSTERED 
(
	[HaberBlogYorumId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Sayfa].[HaberBulteniAbonelik]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sayfa].[HaberBulteniAbonelik](
	[HaberBulteniAbonelikId] [int] IDENTITY(1,1) NOT NULL,
	[Eposta] [varchar](50) NOT NULL,
	[Tarih] [datetime] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK__HaberBul__3214EC07AD7AE817] PRIMARY KEY CLUSTERED 
(
	[HaberBulteniAbonelikId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Sayfa].[Kampanya]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sayfa].[Kampanya](
	[KampanyaId] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [varchar](50) NOT NULL,
	[Konu] [varchar](50) NOT NULL,
	[Icerik] [varchar](500) NOT NULL,
	[BaslangicTarihi] [datetime] NULL,
	[BitisTarihi] [datetime] NULL,
	[Tarih] [datetime] NOT NULL,
	[AnaSayfadaGosterilsinMi] [bit] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK__Kampanya__3214EC07A5863219] PRIMARY KEY CLUSTERED 
(
	[KampanyaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Sayfa].[KampanyaResim]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sayfa].[KampanyaResim](
	[KampanyaResimId] [int] IDENTITY(1,1) NOT NULL,
	[KampanyaId] [int] NOT NULL,
	[ResimYolu] [varchar](200) NOT NULL,
	[Aciklama] [nvarchar](500) NULL,
	[AltAttribute] [varchar](500) NULL,
	[TitleAttribute] [varchar](500) NULL,
	[YeniMi] [bit] NOT NULL,
	[Tarih] [datetime] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_KampanyaResim] PRIMARY KEY CLUSTERED 
(
	[KampanyaResimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Sayfa].[KisaLink]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sayfa].[KisaLink](
	[KisaLinkId] [int] IDENTITY(1,1) NOT NULL,
	[UzunLink] [varchar](500) NOT NULL,
	[KisaltilmisLink] [varchar](50) NOT NULL,
	[ZiyaretSayisi] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_KisaLink] PRIMARY KEY CLUSTERED 
(
	[KisaLinkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Sayfa].[SSS]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sayfa].[SSS](
	[SSSId] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [varchar](50) NOT NULL,
	[Icerik] [varchar](500) NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_SSS] PRIMARY KEY CLUSTERED 
(
	[SSSId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Urun].[IlgiliUrun]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Urun].[IlgiliUrun](
	[IlgiliUrunId] [int] IDENTITY(1,1) NOT NULL,
	[UrunId1] [int] NOT NULL,
	[UrunId2] [int] NOT NULL,
	[Sira] [int] NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK__CaprazSa__3214EC0728E07F41] PRIMARY KEY CLUSTERED 
(
	[IlgiliUrunId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Urun].[Kategori]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Urun].[Kategori](
	[KategoriId] [int] IDENTITY(1,1) NOT NULL,
	[UstKategoriId] [int] NULL,
	[VergiId] [int] NULL,
	[Adi] [varchar](100) NOT NULL,
	[Aciklama] [varchar](500) NULL,
	[MetaKeywords] [varchar](500) NULL,
	[MetaDescription] [varchar](500) NULL,
	[MetaTitle] [varchar](500) NULL,
	[Resim] [varchar](200) NULL,
	[OlusturmaTarihi] [datetime] NOT NULL,
	[GuncellemeTarihi] [datetime] NOT NULL,
	[Tarih] [date] NULL,
	[Sira] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK__Kategori__3214EC0718020789] PRIMARY KEY CLUSTERED 
(
	[KategoriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Urun].[KategoriOzellik]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Urun].[KategoriOzellik](
	[KategoriOzellikId] [int] IDENTITY(1,1) NOT NULL,
	[KategoriId] [int] NOT NULL,
	[OzellikId] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_KategoriOzellik] PRIMARY KEY CLUSTERED 
(
	[KategoriOzellikId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Urun].[Marka]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Urun].[Marka](
	[MarkaId] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [varchar](100) NOT NULL,
	[Aciklama] [varchar](500) NULL,
	[MetaKeywords] [varchar](500) NULL,
	[MetaDescription] [varchar](500) NULL,
	[MetaTitle] [varchar](500) NULL,
	[Resim] [varchar](200) NULL,
	[Sira] [int] NOT NULL,
	[AnaSayfadaGosterilsinMi] [bit] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK__Uretici__3214EC071F8F6BF8] PRIMARY KEY CLUSTERED 
(
	[MarkaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Urun].[Nitelik]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Urun].[Nitelik](
	[NitelikId] [int] IDENTITY(1,1) NOT NULL,
	[NitelikGrupId] [int] NOT NULL,
	[Adi] [varchar](50) NOT NULL,
	[Aciklama] [varchar](500) NULL,
	[OlusturmaTarihi] [datetime] NOT NULL,
	[GuncellemeTarihi] [datetime] NOT NULL,
	[Sira] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_Nitelik] PRIMARY KEY CLUSTERED 
(
	[NitelikId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Urun].[NitelikGrup]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Urun].[NitelikGrup](
	[NitelikGrupId] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [varchar](50) NOT NULL,
	[Aciklama] [varchar](500) NULL,
	[OlusturmaTarihi] [datetime] NOT NULL,
	[GuncellemeTarihi] [datetime] NOT NULL,
	[Sira] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_NitelikGrup] PRIMARY KEY CLUSTERED 
(
	[NitelikGrupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Urun].[Olcu]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Urun].[Olcu](
	[OlcuId] [int] IDENTITY(1,1) NOT NULL,
	[OlcuTipId] [int] NOT NULL,
	[Adi] [varchar](50) NOT NULL,
	[Sira] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_Olcu] PRIMARY KEY CLUSTERED 
(
	[OlcuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Urun].[OlcuTip]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Urun].[OlcuTip](
	[OlcuTipId] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [varchar](50) NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_OlcuTip] PRIMARY KEY CLUSTERED 
(
	[OlcuTipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Urun].[Ozellik]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Urun].[Ozellik](
	[OzellikId] [int] IDENTITY(1,1) NOT NULL,
	[OzellikTipId] [int] NOT NULL,
	[Adi] [varchar](200) NOT NULL,
	[Aciklama] [varchar](50) NULL,
	[Sira] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_Ozellik] PRIMARY KEY CLUSTERED 
(
	[OzellikId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Urun].[OzellikTip]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Urun].[OzellikTip](
	[OzellikTipId] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [varchar](50) NOT NULL,
	[Aciklama] [varchar](50) NULL,
	[AktifMi] [bit] NULL,
 CONSTRAINT [PK_OzellikTip] PRIMARY KEY CLUSTERED 
(
	[OzellikTipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Urun].[Paket]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Urun].[Paket](
	[PaketId] [int] IDENTITY(1,1) NOT NULL,
	[VergiId] [int] NOT NULL,
	[NitelikGrupId] [int] NOT NULL,
	[PaketKod] [varchar](50) NULL,
	[Adi] [varchar](200) NOT NULL,
	[KisaAciklama] [varchar](50) NULL,
	[UzunAciklama] [varchar](500) NULL,
	[Tags] [varchar](500) NULL,
	[MetaKeywords] [varchar](500) NULL,
	[MetaDescription] [varchar](500) NULL,
	[MetaTitle] [varchar](500) NULL,
	[OrnekDosyaYolu] [varchar](50) NULL,
	[SatinAlAktifMi] [bit] NOT NULL,
	[OnSiparisAktifMi] [bit] NOT NULL,
	[YeniMi] [bit] NOT NULL,
	[BaslangicTarihi] [datetime] NULL,
	[BitisTarihi] [datetime] NULL,
	[OlusturmaTarihi] [datetime] NOT NULL,
	[GuncellemeTarihi] [datetime] NOT NULL,
	[Sira] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_Paket] PRIMARY KEY CLUSTERED 
(
	[PaketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Urun].[PaketKategori]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Urun].[PaketKategori](
	[PaketKategoriId] [int] IDENTITY(1,1) NOT NULL,
	[PaketId] [int] NOT NULL,
	[KategoriId] [int] NOT NULL,
	[Sira] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_PaketKategori] PRIMARY KEY CLUSTERED 
(
	[PaketKategoriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Urun].[PaketNitelik]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Urun].[PaketNitelik](
	[PaketNitelikId] [int] IDENTITY(1,1) NOT NULL,
	[PaketId] [int] NOT NULL,
	[NitelikId] [int] NOT NULL,
	[NitelikDegeri] [varchar](50) NOT NULL,
	[Sira] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_PaketNitelik] PRIMARY KEY CLUSTERED 
(
	[PaketNitelikId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Urun].[PaketResim]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Urun].[PaketResim](
	[PaketResimId] [int] IDENTITY(1,1) NOT NULL,
	[PaketId] [int] NOT NULL,
	[ResimYolu] [varchar](200) NOT NULL,
	[Aciklama] [nvarchar](500) NULL,
	[AltAttribute] [varchar](500) NULL,
	[TitleAttribute] [varchar](500) NULL,
	[YeniMi] [bit] NOT NULL,
	[Tarih] [datetime] NOT NULL,
	[Sira] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_PaketResim] PRIMARY KEY CLUSTERED 
(
	[PaketResimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Urun].[PaketUrun]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Urun].[PaketUrun](
	[PaketUrunId] [int] IDENTITY(1,1) NOT NULL,
	[PaketId] [int] NOT NULL,
	[UrunId] [int] NOT NULL,
	[Adet] [int] NOT NULL,
	[OlusturmaTarihi] [datetime] NOT NULL,
	[GuncellemeTarihi] [datetime] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_PaketUrun] PRIMARY KEY CLUSTERED 
(
	[PaketUrunId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Urun].[StokHareket]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Urun].[StokHareket](
	[StokHareketId] [int] IDENTITY(1,1) NOT NULL,
	[UrunId] [int] NOT NULL,
	[StokHareketTipId] [int] NOT NULL,
	[SiparisId] [int] NULL,
	[OlcuId] [int] NOT NULL,
	[IadeTalepId] [int] NULL,
	[Miktar] [decimal](18, 4) NOT NULL,
	[Fiyat] [decimal](18, 4) NOT NULL,
	[Aciklama] [varchar](500) NULL,
	[KayitKullaniciKey] [uniqueidentifier] NOT NULL,
	[KayitTarih] [datetime] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_StokHareket] PRIMARY KEY CLUSTERED 
(
	[StokHareketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Urun].[StokHareketTip]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Urun].[StokHareketTip](
	[StokHareketTipId] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [varchar](50) NOT NULL,
	[Sira] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_StokHareketTip] PRIMARY KEY CLUSTERED 
(
	[StokHareketTipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Urun].[Urun]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Urun].[Urun](
	[UrunId] [int] IDENTITY(1,1) NOT NULL,
	[MarkaId] [int] NULL,
	[VergiId] [int] NOT NULL,
	[NitelikGrupId] [int] NOT NULL,
	[Barkod] [varchar](50) NULL,
	[UrunKod] [varchar](100) NULL,
	[Adi] [varchar](200) NOT NULL,
	[KisaAciklama] [varchar](50) NULL,
	[UzunAciklama] [varchar](5000) NULL,
	[Tags] [varchar](500) NULL,
	[MetaKeywords] [varchar](500) NULL,
	[MetaDescription] [varchar](500) NULL,
	[MetaTitle] [varchar](500) NULL,
	[OrnekDosyaYolu] [varchar](200) NULL,
	[YorumYapilabilsinMi] [bit] NOT NULL,
	[StokMiktar] [int] NOT NULL,
	[StoktaVarMi] [bit] NOT NULL,
	[StokMiktariGosterilsinMi] [bit] NOT NULL,
	[StokAlarmSeviyesi] [int] NOT NULL,
	[MinimumSiparisMiktari] [int] NOT NULL,
	[MaksimumSiparisMiktari] [int] NOT NULL,
	[SatinAlAktifMi] [bit] NOT NULL,
	[OnSiparisAktifMi] [bit] NOT NULL,
	[OzelFiyatAktifMi] [bit] NOT NULL,
	[OzelFiyatBaslangicTarihi] [datetime] NULL,
	[OzelFiyatBitisTarihi] [datetime] NULL,
	[Maliyet] [decimal](18, 4) NOT NULL,
	[Fiyat] [decimal](18, 4) NOT NULL,
	[EskiFiyat] [decimal](18, 4) NOT NULL,
	[OzelFiyat] [decimal](18, 4) NULL,
	[BaslangicTarihi] [datetime] NULL,
	[BitisTarihi] [datetime] NULL,
	[OlusturmaTarihi] [datetime] NOT NULL,
	[GuncellemeTarihi] [datetime] NOT NULL,
	[Sira] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK__Product__3214EC07CE41019F] PRIMARY KEY CLUSTERED 
(
	[UrunId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Urun].[UrunKategori]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Urun].[UrunKategori](
	[UrunKategoriId] [int] IDENTITY(1,1) NOT NULL,
	[UrunId] [int] NOT NULL,
	[KategoriId] [int] NOT NULL,
	[Sira] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK__UrunKate__3214EC077CBC96EA] PRIMARY KEY CLUSTERED 
(
	[UrunKategoriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Urun].[UrunNitelik]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Urun].[UrunNitelik](
	[UrunNitelikId] [int] IDENTITY(1,1) NOT NULL,
	[UrunId] [int] NOT NULL,
	[NitelikId] [int] NOT NULL,
	[NitelikDegeri] [varchar](200) NOT NULL,
	[Sira] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_UrunNitelik] PRIMARY KEY CLUSTERED 
(
	[UrunNitelikId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Urun].[UrunOzellik]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Urun].[UrunOzellik](
	[UrunOzellikId] [int] IDENTITY(1,1) NOT NULL,
	[UrunId] [int] NOT NULL,
	[OzellikId] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_UrunOzellik] PRIMARY KEY CLUSTERED 
(
	[UrunOzellikId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Urun].[UrunResim]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Urun].[UrunResim](
	[UrunResimId] [int] IDENTITY(1,1) NOT NULL,
	[UrunId] [int] NOT NULL,
	[UrunResimTipId] [int] NOT NULL,
	[ResimYolu] [varchar](200) NOT NULL,
	[Aciklama] [nvarchar](500) NULL,
	[AltAttribute] [varchar](500) NULL,
	[TitleAttribute] [varchar](500) NULL,
	[YeniMi] [bit] NOT NULL,
	[Tarih] [datetime] NOT NULL,
	[Sira] [int] NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK__Picture__3214EC0711B8D5C9] PRIMARY KEY CLUSTERED 
(
	[UrunResimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Urun].[UrunResimTip]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Urun].[UrunResimTip](
	[UrunResimTipId] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [varchar](50) NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_UrunResimTip] PRIMARY KEY CLUSTERED 
(
	[UrunResimTipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Urun].[UrunYorum]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Urun].[UrunYorum](
	[UrunYorumId] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciId] [uniqueidentifier] NOT NULL,
	[UrunId] [int] NOT NULL,
	[Yorum] [varchar](500) NOT NULL,
	[Puan] [int] NOT NULL,
	[Tarih] [datetime] NOT NULL,
	[GosterilsinMi] [bit] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK__UrunYoru__3214EC07E96313C3] PRIMARY KEY CLUSTERED 
(
	[UrunYorumId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Urun].[Vergi]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Urun].[Vergi](
	[VergiId] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [varchar](50) NOT NULL,
	[Aciklama] [varchar](500) NULL,
	[VergiOrani] [decimal](18, 4) NOT NULL,
	[Sira] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK__TaxCateg__3214EC0708C1BE0A] PRIMARY KEY CLUSTERED 
(
	[VergiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Uyelik].[Kullanici]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Uyelik].[Kullanici](
	[KullaniciId] [uniqueidentifier] NOT NULL,
	[Eposta] [varchar](50) NOT NULL,
	[Sifre] [varchar](50) NOT NULL,
	[UyelikTarihi] [datetime] NOT NULL,
	[SonGirisTarihi] [datetime] NOT NULL,
	[BasarisizGirisSayisi] [int] NOT NULL,
	[HesapKilitliMi] [bit] NOT NULL,
	[EpostaOnayliMi] [bit] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[KullaniciId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Uyelik].[KullaniciAdres]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Uyelik].[KullaniciAdres](
	[KullaniciAdresId] [int] IDENTITY(1,1) NOT NULL,
	[AdresId] [int] NOT NULL,
	[KullaniciId] [uniqueidentifier] NOT NULL,
	[OlusturmaTarihi] [datetime] NOT NULL,
	[GuncellemeTarihi] [datetime] NOT NULL,
	[Sira] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_KullaniciAdres] PRIMARY KEY CLUSTERED 
(
	[KullaniciAdresId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Uyelik].[KullaniciDetay]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Uyelik].[KullaniciDetay](
	[KullaniciDetayId] [uniqueidentifier] NOT NULL,
	[Ad] [varchar](200) NOT NULL,
	[Soyad] [varchar](200) NOT NULL,
	[KullaniciResim] [image] NULL,
	[SirketId] [int] NULL,
	[SepetteUrunVarMi] [bit] NOT NULL,
 CONSTRAINT [PK__Musteri__3214EC074248C38D] PRIMARY KEY CLUSTERED 
(
	[KullaniciDetayId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Uyelik].[KullaniciRol]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Uyelik].[KullaniciRol](
	[KullaniciRolId] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciId] [uniqueidentifier] NOT NULL,
	[RolId] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_KullaniciRol] PRIMARY KEY CLUSTERED 
(
	[KullaniciRolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Uyelik].[KullaniciYetki]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Uyelik].[KullaniciYetki](
	[KullaniciYetkiId] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciId] [uniqueidentifier] NOT NULL,
	[YetkiId] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_KullaniciYetki] PRIMARY KEY CLUSTERED 
(
	[KullaniciYetkiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Uyelik].[Rol]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Uyelik].[Rol](
	[RolId] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [varchar](50) NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[RolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Uyelik].[Sirket]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Uyelik].[Sirket](
	[SirketId] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [varchar](50) NOT NULL,
	[Aciklama] [varchar](500) NULL,
	[Sira] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_Sirket] PRIMARY KEY CLUSTERED 
(
	[SirketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Uyelik].[Yetki]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Uyelik].[Yetki](
	[YetkiId] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [varchar](50) NOT NULL,
	[Controller] [varchar](50) NOT NULL,
	[Action] [varchar](50) NOT NULL,
	[Sira] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_Yetki] PRIMARY KEY CLUSTERED 
(
	[YetkiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_TierPrice_ProductId]    Script Date: 12.07.2022 23:31:24 ******/
CREATE NONCLUSTERED INDEX [IX_TierPrice_ProductId] ON [Satis].[KatmanliFiyat]
(
	[UrunId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Order_CustomerId]    Script Date: 12.07.2022 23:31:24 ******/
CREATE NONCLUSTERED INDEX [IX_Order_CustomerId] ON [Satis].[Siparis]
(
	[KullaniciId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderItem_OrderId]    Script Date: 12.07.2022 23:31:24 ******/
CREATE NONCLUSTERED INDEX [IX_OrderItem_OrderId] ON [Satis].[SiparisDetay]
(
	[SiparisId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderNote_OrderId]    Script Date: 12.07.2022 23:31:24 ******/
CREATE NONCLUSTERED INDEX [IX_OrderNote_OrderId] ON [Satis].[SiparisHareket]
(
	[SiparisId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PollAnswer_PollId]    Script Date: 12.07.2022 23:31:24 ******/
CREATE NONCLUSTERED INDEX [IX_PollAnswer_PollId] ON [Sayfa].[AnketSoru]
(
	[AnketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NewsComment_NewsItemId]    Script Date: 12.07.2022 23:31:24 ******/
CREATE NONCLUSTERED INDEX [IX_NewsComment_NewsItemId] ON [Sayfa].[HaberBlogYorum]
(
	[HaberBlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Category_DisplayOrder]    Script Date: 12.07.2022 23:31:24 ******/
CREATE NONCLUSTERED INDEX [IX_Category_DisplayOrder] ON [Urun].[Kategori]
(
	[Sira] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Category_ParentCategoryId]    Script Date: 12.07.2022 23:31:24 ******/
CREATE NONCLUSTERED INDEX [IX_Category_ParentCategoryId] ON [Urun].[Kategori]
(
	[UstKategoriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Manufacturer_DisplayOrder]    Script Date: 12.07.2022 23:31:24 ******/
CREATE NONCLUSTERED INDEX [IX_Manufacturer_DisplayOrder] ON [Urun].[Marka]
(
	[Sira] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductReview_ProductId]    Script Date: 12.07.2022 23:31:24 ******/
CREATE NONCLUSTERED INDEX [IX_ProductReview_ProductId] ON [Urun].[UrunYorum]
(
	[UrunId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoleId]    Script Date: 12.07.2022 23:31:24 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [Uyelik].[KullaniciRol]
(
	[RolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 12.07.2022 23:31:24 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [Uyelik].[KullaniciRol]
(
	[KullaniciId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 12.07.2022 23:31:24 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [Uyelik].[Rol]
(
	[Adi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [Program].[Log] ADD  CONSTRAINT [DF_system_logging_system_logging_guid]  DEFAULT (newid()) FOR [system_logging_guid]
GO
ALTER TABLE [Program].[Log] ADD  CONSTRAINT [DF_system_logging_entered_date]  DEFAULT (getdate()) FOR [entered_date]
GO
ALTER TABLE [Banka].[HesapNumarasi]  WITH CHECK ADD  CONSTRAINT [FK_HesapNumarasi_Banka] FOREIGN KEY([BankaId])
REFERENCES [Banka].[Banka] ([BankaId])
GO
ALTER TABLE [Banka].[HesapNumarasi] CHECK CONSTRAINT [FK_HesapNumarasi_Banka]
GO
ALTER TABLE [Banka].[SanalPos]  WITH CHECK ADD  CONSTRAINT [FK_SanalPos_Banka] FOREIGN KEY([BankaId])
REFERENCES [Banka].[Banka] ([BankaId])
GO
ALTER TABLE [Banka].[SanalPos] CHECK CONSTRAINT [FK_SanalPos_Banka]
GO
ALTER TABLE [Banka].[Taksit]  WITH CHECK ADD  CONSTRAINT [FK_Taksit_Banka] FOREIGN KEY([BankaId])
REFERENCES [Banka].[Banka] ([BankaId])
GO
ALTER TABLE [Banka].[Taksit] CHECK CONSTRAINT [FK_Taksit_Banka]
GO
ALTER TABLE [Satis].[Adres]  WITH CHECK ADD  CONSTRAINT [FK_Adres_AdresIl] FOREIGN KEY([AdresIlId])
REFERENCES [Satis].[AdresIl] ([AdresIlId])
GO
ALTER TABLE [Satis].[Adres] CHECK CONSTRAINT [FK_Adres_AdresIl]
GO
ALTER TABLE [Satis].[Adres]  WITH CHECK ADD  CONSTRAINT [FK_Adres_AdresIlce] FOREIGN KEY([AdresIlceId])
REFERENCES [Satis].[AdresIlce] ([AdresIlceId])
GO
ALTER TABLE [Satis].[Adres] CHECK CONSTRAINT [FK_Adres_AdresIlce]
GO
ALTER TABLE [Satis].[Adres]  WITH CHECK ADD  CONSTRAINT [FK_Adres_FaturaTip] FOREIGN KEY([FaturaTipId])
REFERENCES [Satis].[FaturaTip] ([FaturaTipId])
GO
ALTER TABLE [Satis].[Adres] CHECK CONSTRAINT [FK_Adres_FaturaTip]
GO
ALTER TABLE [Satis].[AdresIlce]  WITH CHECK ADD  CONSTRAINT [FK_AdresIlce_AdresIl] FOREIGN KEY([AdresIlId])
REFERENCES [Satis].[AdresIl] ([AdresIlId])
GO
ALTER TABLE [Satis].[AdresIlce] CHECK CONSTRAINT [FK_AdresIlce_AdresIl]
GO
ALTER TABLE [Satis].[IadeTalep]  WITH CHECK ADD  CONSTRAINT [FK_IadeTalep_IadeTalepDurumTip] FOREIGN KEY([IadeTalepDurumTipId])
REFERENCES [Satis].[IadeTalepDurumTip] ([IadeTalepDurumTipId])
GO
ALTER TABLE [Satis].[IadeTalep] CHECK CONSTRAINT [FK_IadeTalep_IadeTalepDurumTip]
GO
ALTER TABLE [Satis].[IadeTalep]  WITH CHECK ADD  CONSTRAINT [FK_IadeTalep_IadeTalepIstekTip] FOREIGN KEY([IadeTalepIstekTipId])
REFERENCES [Satis].[IadeTalepIstekTip] ([IadeTalepIstekTipId])
GO
ALTER TABLE [Satis].[IadeTalep] CHECK CONSTRAINT [FK_IadeTalep_IadeTalepIstekTip]
GO
ALTER TABLE [Satis].[IadeTalep]  WITH CHECK ADD  CONSTRAINT [FK_IadeTalep_IadeTalepNedenTip] FOREIGN KEY([IadeTalepNedenTipId])
REFERENCES [Satis].[IadeTalepNedenTip] ([IadeTalepNedenTipId])
GO
ALTER TABLE [Satis].[IadeTalep] CHECK CONSTRAINT [FK_IadeTalep_IadeTalepNedenTip]
GO
ALTER TABLE [Satis].[IadeTalep]  WITH CHECK ADD  CONSTRAINT [FK_IadeTalep_SiparisDetay] FOREIGN KEY([SiparisDetayId])
REFERENCES [Satis].[SiparisDetay] ([SiparisDetayId])
GO
ALTER TABLE [Satis].[IadeTalep] CHECK CONSTRAINT [FK_IadeTalep_SiparisDetay]
GO
ALTER TABLE [Satis].[IskontoKategori]  WITH CHECK ADD  CONSTRAINT [FK_IndirimKategori_Indirim] FOREIGN KEY([IskontoId])
REFERENCES [Satis].[Iskonto] ([IskontoId])
GO
ALTER TABLE [Satis].[IskontoKategori] CHECK CONSTRAINT [FK_IndirimKategori_Indirim]
GO
ALTER TABLE [Satis].[IskontoKategori]  WITH CHECK ADD  CONSTRAINT [FK_IndirimKategori_Kategori] FOREIGN KEY([KategoriId])
REFERENCES [Urun].[Kategori] ([KategoriId])
GO
ALTER TABLE [Satis].[IskontoKategori] CHECK CONSTRAINT [FK_IndirimKategori_Kategori]
GO
ALTER TABLE [Satis].[IskontoKullanimHareket]  WITH CHECK ADD  CONSTRAINT [FK_IndirimKullanim_Indirim] FOREIGN KEY([IskontoId])
REFERENCES [Satis].[Iskonto] ([IskontoId])
GO
ALTER TABLE [Satis].[IskontoKullanimHareket] CHECK CONSTRAINT [FK_IndirimKullanim_Indirim]
GO
ALTER TABLE [Satis].[IskontoKullanimHareket]  WITH CHECK ADD  CONSTRAINT [FK_IndirimKullanim_Siparis] FOREIGN KEY([SiparisId])
REFERENCES [Satis].[Siparis] ([SiparisId])
GO
ALTER TABLE [Satis].[IskontoKullanimHareket] CHECK CONSTRAINT [FK_IndirimKullanim_Siparis]
GO
ALTER TABLE [Satis].[IskontoMarka]  WITH CHECK ADD  CONSTRAINT [FK_IskontoMarka_Iskonto] FOREIGN KEY([IskontoId])
REFERENCES [Satis].[Iskonto] ([IskontoId])
GO
ALTER TABLE [Satis].[IskontoMarka] CHECK CONSTRAINT [FK_IskontoMarka_Iskonto]
GO
ALTER TABLE [Satis].[IskontoMarka]  WITH CHECK ADD  CONSTRAINT [FK_IskontoMarka_Marka] FOREIGN KEY([MarkaId])
REFERENCES [Urun].[Marka] ([MarkaId])
GO
ALTER TABLE [Satis].[IskontoMarka] CHECK CONSTRAINT [FK_IskontoMarka_Marka]
GO
ALTER TABLE [Satis].[IskontoRol]  WITH CHECK ADD  CONSTRAINT [FK_IskontoRol_Iskonto] FOREIGN KEY([IskontoId])
REFERENCES [Satis].[Iskonto] ([IskontoId])
GO
ALTER TABLE [Satis].[IskontoRol] CHECK CONSTRAINT [FK_IskontoRol_Iskonto]
GO
ALTER TABLE [Satis].[IskontoRol]  WITH CHECK ADD  CONSTRAINT [FK_IskontoRol_Rol] FOREIGN KEY([RolId])
REFERENCES [Uyelik].[Rol] ([RolId])
GO
ALTER TABLE [Satis].[IskontoRol] CHECK CONSTRAINT [FK_IskontoRol_Rol]
GO
ALTER TABLE [Satis].[IskontoSirket]  WITH CHECK ADD  CONSTRAINT [FK_IskontoSirket_Iskonto] FOREIGN KEY([IskontoId])
REFERENCES [Satis].[Iskonto] ([IskontoId])
GO
ALTER TABLE [Satis].[IskontoSirket] CHECK CONSTRAINT [FK_IskontoSirket_Iskonto]
GO
ALTER TABLE [Satis].[IskontoSirket]  WITH CHECK ADD  CONSTRAINT [FK_IskontoSirket_Sirket] FOREIGN KEY([SirketId])
REFERENCES [Uyelik].[Sirket] ([SirketId])
GO
ALTER TABLE [Satis].[IskontoSirket] CHECK CONSTRAINT [FK_IskontoSirket_Sirket]
GO
ALTER TABLE [Satis].[IskontoUrun]  WITH CHECK ADD  CONSTRAINT [FK_IndirimUrun_Indirim] FOREIGN KEY([IskontoId])
REFERENCES [Satis].[Iskonto] ([IskontoId])
GO
ALTER TABLE [Satis].[IskontoUrun] CHECK CONSTRAINT [FK_IndirimUrun_Indirim]
GO
ALTER TABLE [Satis].[IskontoUrun]  WITH CHECK ADD  CONSTRAINT [FK_IndirimUrun_Urun] FOREIGN KEY([UrunId])
REFERENCES [Urun].[Urun] ([UrunId])
GO
ALTER TABLE [Satis].[IskontoUrun] CHECK CONSTRAINT [FK_IndirimUrun_Urun]
GO
ALTER TABLE [Satis].[IstekListesi]  WITH CHECK ADD  CONSTRAINT [FK_IstekListesi_Kullanici] FOREIGN KEY([KullaniciId])
REFERENCES [Uyelik].[Kullanici] ([KullaniciId])
GO
ALTER TABLE [Satis].[IstekListesi] CHECK CONSTRAINT [FK_IstekListesi_Kullanici]
GO
ALTER TABLE [Satis].[IstekListesi]  WITH CHECK ADD  CONSTRAINT [FK_IstekListesi_Urun] FOREIGN KEY([UrunId])
REFERENCES [Urun].[Urun] ([UrunId])
GO
ALTER TABLE [Satis].[IstekListesi] CHECK CONSTRAINT [FK_IstekListesi_Urun]
GO
ALTER TABLE [Satis].[Sepet]  WITH CHECK ADD  CONSTRAINT [FK_Sepet_Kullanici] FOREIGN KEY([KullaniciId])
REFERENCES [Uyelik].[Kullanici] ([KullaniciId])
GO
ALTER TABLE [Satis].[Sepet] CHECK CONSTRAINT [FK_Sepet_Kullanici]
GO
ALTER TABLE [Satis].[Sepet]  WITH CHECK ADD  CONSTRAINT [FK_Sepet_SepetTip] FOREIGN KEY([SepetTipId])
REFERENCES [Satis].[SepetTip] ([SepetTipId])
GO
ALTER TABLE [Satis].[Sepet] CHECK CONSTRAINT [FK_Sepet_SepetTip]
GO
ALTER TABLE [Satis].[Sepet]  WITH CHECK ADD  CONSTRAINT [FK_Sepet_Urun] FOREIGN KEY([UrunId])
REFERENCES [Urun].[Urun] ([UrunId])
GO
ALTER TABLE [Satis].[Sepet] CHECK CONSTRAINT [FK_Sepet_Urun]
GO
ALTER TABLE [Satis].[Siparis]  WITH CHECK ADD  CONSTRAINT [FK_Siparis_Adres] FOREIGN KEY([GonderimAdresId])
REFERENCES [Satis].[Adres] ([AdresId])
GO
ALTER TABLE [Satis].[Siparis] CHECK CONSTRAINT [FK_Siparis_Adres]
GO
ALTER TABLE [Satis].[Siparis]  WITH CHECK ADD  CONSTRAINT [FK_Siparis_Adres1] FOREIGN KEY([FaturaAdresId])
REFERENCES [Satis].[Adres] ([AdresId])
GO
ALTER TABLE [Satis].[Siparis] CHECK CONSTRAINT [FK_Siparis_Adres1]
GO
ALTER TABLE [Satis].[Siparis]  WITH CHECK ADD  CONSTRAINT [FK_Siparis_Banka] FOREIGN KEY([KrediKartiBankaId])
REFERENCES [Banka].[Banka] ([BankaId])
GO
ALTER TABLE [Satis].[Siparis] CHECK CONSTRAINT [FK_Siparis_Banka]
GO
ALTER TABLE [Satis].[Siparis]  WITH CHECK ADD  CONSTRAINT [FK_Siparis_KrediKartiTip] FOREIGN KEY([KrediKartiTipId])
REFERENCES [Banka].[KrediKartiTip] ([KrediKartiTipId])
GO
ALTER TABLE [Satis].[Siparis] CHECK CONSTRAINT [FK_Siparis_KrediKartiTip]
GO
ALTER TABLE [Satis].[Siparis]  WITH CHECK ADD  CONSTRAINT [FK_Siparis_Kullanici] FOREIGN KEY([KullaniciId])
REFERENCES [Uyelik].[Kullanici] ([KullaniciId])
GO
ALTER TABLE [Satis].[Siparis] CHECK CONSTRAINT [FK_Siparis_Kullanici]
GO
ALTER TABLE [Satis].[Siparis]  WITH CHECK ADD  CONSTRAINT [FK_Siparis_OdemeDurumTip] FOREIGN KEY([OdemeDurumTipId])
REFERENCES [Satis].[OdemeDurumTip] ([OdemeDurumTipId])
GO
ALTER TABLE [Satis].[Siparis] CHECK CONSTRAINT [FK_Siparis_OdemeDurumTip]
GO
ALTER TABLE [Satis].[Siparis]  WITH CHECK ADD  CONSTRAINT [FK_Siparis_SiparisDurumTip] FOREIGN KEY([SiparisDurumTipId])
REFERENCES [Satis].[SiparisDurumTip] ([SiparisDurumTipId])
GO
ALTER TABLE [Satis].[Siparis] CHECK CONSTRAINT [FK_Siparis_SiparisDurumTip]
GO
ALTER TABLE [Satis].[Siparis]  WITH CHECK ADD  CONSTRAINT [FK_Siparis_SiparisOdemeTip] FOREIGN KEY([SiparisOdemeTipId])
REFERENCES [Satis].[SiparisOdemeTip] ([SiparisOdemeTipId])
GO
ALTER TABLE [Satis].[Siparis] CHECK CONSTRAINT [FK_Siparis_SiparisOdemeTip]
GO
ALTER TABLE [Satis].[SiparisDetay]  WITH CHECK ADD  CONSTRAINT [FK_SiparisDetay_Siparis] FOREIGN KEY([SiparisId])
REFERENCES [Satis].[Siparis] ([SiparisId])
GO
ALTER TABLE [Satis].[SiparisDetay] CHECK CONSTRAINT [FK_SiparisDetay_Siparis]
GO
ALTER TABLE [Satis].[SiparisDetay]  WITH CHECK ADD  CONSTRAINT [FK_SiparisDetay_Urun] FOREIGN KEY([UrunId])
REFERENCES [Urun].[Urun] ([UrunId])
GO
ALTER TABLE [Satis].[SiparisDetay] CHECK CONSTRAINT [FK_SiparisDetay_Urun]
GO
ALTER TABLE [Satis].[SiparisGonderim]  WITH CHECK ADD  CONSTRAINT [FK_SiparisGonderim_Gonderim] FOREIGN KEY([GonderimId])
REFERENCES [Satis].[Gonderim] ([GonderimId])
GO
ALTER TABLE [Satis].[SiparisGonderim] CHECK CONSTRAINT [FK_SiparisGonderim_Gonderim]
GO
ALTER TABLE [Satis].[SiparisGonderim]  WITH CHECK ADD  CONSTRAINT [FK_SiparisGonderim_SiparisDetay] FOREIGN KEY([SiparisDetayId])
REFERENCES [Satis].[SiparisDetay] ([SiparisDetayId])
GO
ALTER TABLE [Satis].[SiparisGonderim] CHECK CONSTRAINT [FK_SiparisGonderim_SiparisDetay]
GO
ALTER TABLE [Satis].[SiparisGonderim]  WITH CHECK ADD  CONSTRAINT [FK_SiparisGonderim_TeslimZamani] FOREIGN KEY([TeslimZamaniId])
REFERENCES [Satis].[TeslimZamani] ([TeslimZamaniId])
GO
ALTER TABLE [Satis].[SiparisGonderim] CHECK CONSTRAINT [FK_SiparisGonderim_TeslimZamani]
GO
ALTER TABLE [Satis].[SiparisHareket]  WITH CHECK ADD  CONSTRAINT [FK_SiparisHareket_Siparis] FOREIGN KEY([SiparisId])
REFERENCES [Satis].[Siparis] ([SiparisId])
GO
ALTER TABLE [Satis].[SiparisHareket] CHECK CONSTRAINT [FK_SiparisHareket_Siparis]
GO
ALTER TABLE [Satis].[SiparisOdemeTip]  WITH CHECK ADD  CONSTRAINT [FK_SiparisOdemeTip_KomisyonIskontoTip] FOREIGN KEY([KomisyonIskontoTipId])
REFERENCES [Satis].[KomisyonIskontoTip] ([KomisyonIskontoTipId])
GO
ALTER TABLE [Satis].[SiparisOdemeTip] CHECK CONSTRAINT [FK_SiparisOdemeTip_KomisyonIskontoTip]
GO
ALTER TABLE [Sayfa].[AnketCevap]  WITH CHECK ADD  CONSTRAINT [FK_AnketCevap_AnketSoru] FOREIGN KEY([AnketSoruId])
REFERENCES [Sayfa].[AnketSoru] ([AnketSoruId])
GO
ALTER TABLE [Sayfa].[AnketCevap] CHECK CONSTRAINT [FK_AnketCevap_AnketSoru]
GO
ALTER TABLE [Sayfa].[AnketCevap]  WITH CHECK ADD  CONSTRAINT [FK_AnketCevap_Kullanici] FOREIGN KEY([KullaniciId])
REFERENCES [Uyelik].[Kullanici] ([KullaniciId])
GO
ALTER TABLE [Sayfa].[AnketCevap] CHECK CONSTRAINT [FK_AnketCevap_Kullanici]
GO
ALTER TABLE [Sayfa].[AnketSoru]  WITH CHECK ADD  CONSTRAINT [FK_AnketSoru_Anket] FOREIGN KEY([AnketId])
REFERENCES [Sayfa].[Anket] ([AnketId])
GO
ALTER TABLE [Sayfa].[AnketSoru] CHECK CONSTRAINT [FK_AnketSoru_Anket]
GO
ALTER TABLE [Sayfa].[Banner]  WITH CHECK ADD  CONSTRAINT [FK_Banner_BannerTip] FOREIGN KEY([BannerTipId])
REFERENCES [Sayfa].[BannerTip] ([BannerTipId])
GO
ALTER TABLE [Sayfa].[Banner] CHECK CONSTRAINT [FK_Banner_BannerTip]
GO
ALTER TABLE [Sayfa].[HaberBlogYorum]  WITH CHECK ADD  CONSTRAINT [FK_HaberYorum_Haber] FOREIGN KEY([HaberBlogId])
REFERENCES [Sayfa].[HaberBlog] ([HaberBlogId])
GO
ALTER TABLE [Sayfa].[HaberBlogYorum] CHECK CONSTRAINT [FK_HaberYorum_Haber]
GO
ALTER TABLE [Sayfa].[KampanyaResim]  WITH CHECK ADD  CONSTRAINT [FK_KampanyaResim_Kampanya] FOREIGN KEY([KampanyaId])
REFERENCES [Sayfa].[Kampanya] ([KampanyaId])
GO
ALTER TABLE [Sayfa].[KampanyaResim] CHECK CONSTRAINT [FK_KampanyaResim_Kampanya]
GO
ALTER TABLE [Urun].[IlgiliUrun]  WITH CHECK ADD  CONSTRAINT [FK_IlgiliUrun_Urun] FOREIGN KEY([UrunId1])
REFERENCES [Urun].[Urun] ([UrunId])
GO
ALTER TABLE [Urun].[IlgiliUrun] CHECK CONSTRAINT [FK_IlgiliUrun_Urun]
GO
ALTER TABLE [Urun].[IlgiliUrun]  WITH CHECK ADD  CONSTRAINT [FK_IlgiliUrun_Urun1] FOREIGN KEY([UrunId2])
REFERENCES [Urun].[Urun] ([UrunId])
GO
ALTER TABLE [Urun].[IlgiliUrun] CHECK CONSTRAINT [FK_IlgiliUrun_Urun1]
GO
ALTER TABLE [Urun].[Kategori]  WITH CHECK ADD  CONSTRAINT [FK_Kategori_Kategori] FOREIGN KEY([UstKategoriId])
REFERENCES [Urun].[Kategori] ([KategoriId])
GO
ALTER TABLE [Urun].[Kategori] CHECK CONSTRAINT [FK_Kategori_Kategori]
GO
ALTER TABLE [Urun].[KategoriOzellik]  WITH CHECK ADD  CONSTRAINT [FK_KategoriOzellik_Kategori] FOREIGN KEY([KategoriId])
REFERENCES [Urun].[Kategori] ([KategoriId])
GO
ALTER TABLE [Urun].[KategoriOzellik] CHECK CONSTRAINT [FK_KategoriOzellik_Kategori]
GO
ALTER TABLE [Urun].[KategoriOzellik]  WITH CHECK ADD  CONSTRAINT [FK_KategoriOzellik_Ozellik] FOREIGN KEY([OzellikId])
REFERENCES [Urun].[Ozellik] ([OzellikId])
GO
ALTER TABLE [Urun].[KategoriOzellik] CHECK CONSTRAINT [FK_KategoriOzellik_Ozellik]
GO
ALTER TABLE [Urun].[Nitelik]  WITH CHECK ADD  CONSTRAINT [FK_Nitelik_NitelikGrup] FOREIGN KEY([NitelikGrupId])
REFERENCES [Urun].[NitelikGrup] ([NitelikGrupId])
GO
ALTER TABLE [Urun].[Nitelik] CHECK CONSTRAINT [FK_Nitelik_NitelikGrup]
GO
ALTER TABLE [Urun].[Ozellik]  WITH CHECK ADD  CONSTRAINT [FK_Ozellik_OzellikTip] FOREIGN KEY([OzellikTipId])
REFERENCES [Urun].[OzellikTip] ([OzellikTipId])
GO
ALTER TABLE [Urun].[Ozellik] CHECK CONSTRAINT [FK_Ozellik_OzellikTip]
GO
ALTER TABLE [Urun].[Paket]  WITH CHECK ADD  CONSTRAINT [FK_Paket_NitelikGrup] FOREIGN KEY([NitelikGrupId])
REFERENCES [Urun].[NitelikGrup] ([NitelikGrupId])
GO
ALTER TABLE [Urun].[Paket] CHECK CONSTRAINT [FK_Paket_NitelikGrup]
GO
ALTER TABLE [Urun].[Paket]  WITH CHECK ADD  CONSTRAINT [FK_Paket_Vergi] FOREIGN KEY([VergiId])
REFERENCES [Urun].[Vergi] ([VergiId])
GO
ALTER TABLE [Urun].[Paket] CHECK CONSTRAINT [FK_Paket_Vergi]
GO
ALTER TABLE [Urun].[PaketKategori]  WITH CHECK ADD  CONSTRAINT [FK_PaketKategori_Kategori] FOREIGN KEY([KategoriId])
REFERENCES [Urun].[Kategori] ([KategoriId])
GO
ALTER TABLE [Urun].[PaketKategori] CHECK CONSTRAINT [FK_PaketKategori_Kategori]
GO
ALTER TABLE [Urun].[PaketKategori]  WITH CHECK ADD  CONSTRAINT [FK_PaketKategori_Paket] FOREIGN KEY([PaketId])
REFERENCES [Urun].[Paket] ([PaketId])
GO
ALTER TABLE [Urun].[PaketKategori] CHECK CONSTRAINT [FK_PaketKategori_Paket]
GO
ALTER TABLE [Urun].[PaketNitelik]  WITH CHECK ADD  CONSTRAINT [FK_PaketNitelik_Nitelik] FOREIGN KEY([NitelikId])
REFERENCES [Urun].[Nitelik] ([NitelikId])
GO
ALTER TABLE [Urun].[PaketNitelik] CHECK CONSTRAINT [FK_PaketNitelik_Nitelik]
GO
ALTER TABLE [Urun].[PaketNitelik]  WITH CHECK ADD  CONSTRAINT [FK_PaketNitelik_Paket] FOREIGN KEY([PaketId])
REFERENCES [Urun].[Paket] ([PaketId])
GO
ALTER TABLE [Urun].[PaketNitelik] CHECK CONSTRAINT [FK_PaketNitelik_Paket]
GO
ALTER TABLE [Urun].[PaketResim]  WITH CHECK ADD  CONSTRAINT [FK_PaketResim_Paket] FOREIGN KEY([PaketId])
REFERENCES [Urun].[Paket] ([PaketId])
GO
ALTER TABLE [Urun].[PaketResim] CHECK CONSTRAINT [FK_PaketResim_Paket]
GO
ALTER TABLE [Urun].[PaketUrun]  WITH CHECK ADD  CONSTRAINT [FK_PaketUrun_Paket] FOREIGN KEY([PaketId])
REFERENCES [Urun].[Paket] ([PaketId])
GO
ALTER TABLE [Urun].[PaketUrun] CHECK CONSTRAINT [FK_PaketUrun_Paket]
GO
ALTER TABLE [Urun].[PaketUrun]  WITH CHECK ADD  CONSTRAINT [FK_PaketUrun_Urun] FOREIGN KEY([UrunId])
REFERENCES [Urun].[Urun] ([UrunId])
GO
ALTER TABLE [Urun].[PaketUrun] CHECK CONSTRAINT [FK_PaketUrun_Urun]
GO
ALTER TABLE [Urun].[StokHareket]  WITH CHECK ADD  CONSTRAINT [FK_StokHareket_Siparis] FOREIGN KEY([SiparisId])
REFERENCES [Satis].[Siparis] ([SiparisId])
GO
ALTER TABLE [Urun].[StokHareket] CHECK CONSTRAINT [FK_StokHareket_Siparis]
GO
ALTER TABLE [Urun].[StokHareket]  WITH CHECK ADD  CONSTRAINT [FK_StokHareket_StokHareketTip] FOREIGN KEY([StokHareketTipId])
REFERENCES [Urun].[StokHareketTip] ([StokHareketTipId])
GO
ALTER TABLE [Urun].[StokHareket] CHECK CONSTRAINT [FK_StokHareket_StokHareketTip]
GO
ALTER TABLE [Urun].[StokHareket]  WITH CHECK ADD  CONSTRAINT [FK_StokHareket_Urun] FOREIGN KEY([UrunId])
REFERENCES [Urun].[Urun] ([UrunId])
GO
ALTER TABLE [Urun].[StokHareket] CHECK CONSTRAINT [FK_StokHareket_Urun]
GO
ALTER TABLE [Urun].[Urun]  WITH CHECK ADD  CONSTRAINT [FK_Urun_NitelikGrup] FOREIGN KEY([NitelikGrupId])
REFERENCES [Urun].[NitelikGrup] ([NitelikGrupId])
GO
ALTER TABLE [Urun].[Urun] CHECK CONSTRAINT [FK_Urun_NitelikGrup]
GO
ALTER TABLE [Urun].[Urun]  WITH CHECK ADD  CONSTRAINT [FK_Urun_Uretici] FOREIGN KEY([MarkaId])
REFERENCES [Urun].[Marka] ([MarkaId])
GO
ALTER TABLE [Urun].[Urun] CHECK CONSTRAINT [FK_Urun_Uretici]
GO
ALTER TABLE [Urun].[Urun]  WITH CHECK ADD  CONSTRAINT [FK_Urun_Vergi] FOREIGN KEY([VergiId])
REFERENCES [Urun].[Vergi] ([VergiId])
GO
ALTER TABLE [Urun].[Urun] CHECK CONSTRAINT [FK_Urun_Vergi]
GO
ALTER TABLE [Urun].[UrunKategori]  WITH CHECK ADD  CONSTRAINT [FK_UrunKategori_Kategori] FOREIGN KEY([KategoriId])
REFERENCES [Urun].[Kategori] ([KategoriId])
GO
ALTER TABLE [Urun].[UrunKategori] CHECK CONSTRAINT [FK_UrunKategori_Kategori]
GO
ALTER TABLE [Urun].[UrunKategori]  WITH CHECK ADD  CONSTRAINT [FK_UrunKategori_Urun] FOREIGN KEY([UrunId])
REFERENCES [Urun].[Urun] ([UrunId])
GO
ALTER TABLE [Urun].[UrunKategori] CHECK CONSTRAINT [FK_UrunKategori_Urun]
GO
ALTER TABLE [Urun].[UrunNitelik]  WITH CHECK ADD  CONSTRAINT [FK_UrunNitelik_Nitelik1] FOREIGN KEY([NitelikId])
REFERENCES [Urun].[Nitelik] ([NitelikId])
GO
ALTER TABLE [Urun].[UrunNitelik] CHECK CONSTRAINT [FK_UrunNitelik_Nitelik1]
GO
ALTER TABLE [Urun].[UrunNitelik]  WITH CHECK ADD  CONSTRAINT [FK_UrunNitelik_Urun] FOREIGN KEY([UrunId])
REFERENCES [Urun].[Urun] ([UrunId])
GO
ALTER TABLE [Urun].[UrunNitelik] CHECK CONSTRAINT [FK_UrunNitelik_Urun]
GO
ALTER TABLE [Urun].[UrunOzellik]  WITH CHECK ADD  CONSTRAINT [FK_UrunOzellik_Ozellik] FOREIGN KEY([OzellikId])
REFERENCES [Urun].[Ozellik] ([OzellikId])
GO
ALTER TABLE [Urun].[UrunOzellik] CHECK CONSTRAINT [FK_UrunOzellik_Ozellik]
GO
ALTER TABLE [Urun].[UrunOzellik]  WITH CHECK ADD  CONSTRAINT [FK_UrunOzellik_Urun] FOREIGN KEY([UrunId])
REFERENCES [Urun].[Urun] ([UrunId])
GO
ALTER TABLE [Urun].[UrunOzellik] CHECK CONSTRAINT [FK_UrunOzellik_Urun]
GO
ALTER TABLE [Urun].[UrunResim]  WITH CHECK ADD  CONSTRAINT [FK_Resim_Urun] FOREIGN KEY([UrunId])
REFERENCES [Urun].[Urun] ([UrunId])
GO
ALTER TABLE [Urun].[UrunResim] CHECK CONSTRAINT [FK_Resim_Urun]
GO
ALTER TABLE [Urun].[UrunResim]  WITH CHECK ADD  CONSTRAINT [FK_UrunResim_UrunResimTip] FOREIGN KEY([UrunResimTipId])
REFERENCES [Urun].[UrunResimTip] ([UrunResimTipId])
GO
ALTER TABLE [Urun].[UrunResim] CHECK CONSTRAINT [FK_UrunResim_UrunResimTip]
GO
ALTER TABLE [Urun].[UrunYorum]  WITH CHECK ADD  CONSTRAINT [FK_UrunYorum_Kullanici] FOREIGN KEY([KullaniciId])
REFERENCES [Uyelik].[Kullanici] ([KullaniciId])
GO
ALTER TABLE [Urun].[UrunYorum] CHECK CONSTRAINT [FK_UrunYorum_Kullanici]
GO
ALTER TABLE [Urun].[UrunYorum]  WITH CHECK ADD  CONSTRAINT [FK_UrunYorum_Urun] FOREIGN KEY([UrunId])
REFERENCES [Urun].[Urun] ([UrunId])
GO
ALTER TABLE [Urun].[UrunYorum] CHECK CONSTRAINT [FK_UrunYorum_Urun]
GO
ALTER TABLE [Uyelik].[KullaniciAdres]  WITH CHECK ADD  CONSTRAINT [FK_KullaniciAdres_Adres] FOREIGN KEY([AdresId])
REFERENCES [Satis].[Adres] ([AdresId])
GO
ALTER TABLE [Uyelik].[KullaniciAdres] CHECK CONSTRAINT [FK_KullaniciAdres_Adres]
GO
ALTER TABLE [Uyelik].[KullaniciAdres]  WITH CHECK ADD  CONSTRAINT [FK_KullaniciAdres_Kullanici] FOREIGN KEY([KullaniciId])
REFERENCES [Uyelik].[Kullanici] ([KullaniciId])
GO
ALTER TABLE [Uyelik].[KullaniciAdres] CHECK CONSTRAINT [FK_KullaniciAdres_Kullanici]
GO
ALTER TABLE [Uyelik].[KullaniciDetay]  WITH CHECK ADD  CONSTRAINT [FK_KullaniciDetay_Kullanici] FOREIGN KEY([KullaniciDetayId])
REFERENCES [Uyelik].[Kullanici] ([KullaniciId])
GO
ALTER TABLE [Uyelik].[KullaniciDetay] CHECK CONSTRAINT [FK_KullaniciDetay_Kullanici]
GO
ALTER TABLE [Uyelik].[KullaniciDetay]  WITH CHECK ADD  CONSTRAINT [FK_KullaniciDetay_Sirket] FOREIGN KEY([SirketId])
REFERENCES [Uyelik].[Sirket] ([SirketId])
GO
ALTER TABLE [Uyelik].[KullaniciDetay] CHECK CONSTRAINT [FK_KullaniciDetay_Sirket]
GO
ALTER TABLE [Uyelik].[KullaniciRol]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RolId])
REFERENCES [Uyelik].[Rol] ([RolId])
ON DELETE CASCADE
GO
ALTER TABLE [Uyelik].[KullaniciRol] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [Uyelik].[KullaniciRol]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([KullaniciId])
REFERENCES [Uyelik].[Kullanici] ([KullaniciId])
ON DELETE CASCADE
GO
ALTER TABLE [Uyelik].[KullaniciRol] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [Uyelik].[KullaniciYetki]  WITH CHECK ADD  CONSTRAINT [FK_KullaniciYetki_Kullanici] FOREIGN KEY([KullaniciId])
REFERENCES [Uyelik].[Kullanici] ([KullaniciId])
GO
ALTER TABLE [Uyelik].[KullaniciYetki] CHECK CONSTRAINT [FK_KullaniciYetki_Kullanici]
GO
ALTER TABLE [Uyelik].[KullaniciYetki]  WITH CHECK ADD  CONSTRAINT [FK_KullaniciYetki_Yetki] FOREIGN KEY([YetkiId])
REFERENCES [Uyelik].[Yetki] ([YetkiId])
GO
ALTER TABLE [Uyelik].[KullaniciYetki] CHECK CONSTRAINT [FK_KullaniciYetki_Yetki]
GO
/****** Object:  StoredProcedure [dbo].[sLogEvent_Insert]    Script Date: 12.07.2022 23:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sLogEvent_Insert]
  @time_stamp datetime,
  @level nvarchar(50),
  @logger nvarchar(500),
  @userName nvarchar(50),
  @url nvarchar(1024),
  @machineName nvarchar(100),
  @sessionId nvarchar(100),
  @threadId int,
  @referrer nvarchar(1024),
  @userAgent nvarchar(500),
  @code nvarchar(10),
  @message nvarchar(max)
AS
BEGIN
  SET NOCOUNT ON;
  Declare @currentDate Datetime
  declare @partitionKey tinyint
   
  set   @currentDate = getdate()
  set   @partitionKey = DATEPART(weekday, @currentDate)
 
  INSERT INTO [dbo].[LogEvent]
           ([LogDate]
           ,[EventLevel]
           ,[LoggerName]
           ,[UserName]
           ,[Url]
           ,[MachineName]
           ,[SessionId]
           ,[ThreadId]
           ,[Referrer]
           ,[UserAgent]
       ,[Code]
           ,[LogMessage]
       ,[PartitionKey])
     VALUES
           (@time_stamp
           ,@level
           ,@logger
           ,@userName
           ,@url
           ,@machineName
           ,@sessionId
           ,@threadId
           ,@referrer
           ,@userAgent
       ,@code
           ,@message
       ,@partitionKey);
END
GO
USE [master]
GO
