
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainRoot.cshtml";
}

<h1 class="page-title">
    @ViewBag.PageProperties.PageHeader
</h1>

<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 blue" href="/StokHareket/SaveStockIn">
            <div class="visual">
                <i class="fa fa-plus"></i>
            </div>
            <div class="details">
                <div class="number">
                    &nbsp;
                </div>
                <div class="desc">Stok Girişi</div>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 green" href="/StokHareket/SaveStockOut">
            <div class="visual">
                <i class="fa fa-minus"></i>
            </div>
            <div class="details">
                <div class="number">
                    &nbsp;
                </div>
                <div class="desc">Stok Çıkışı</div>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 red" href="/StokHareket/Search">
            <div class="visual">
                <i class="fa fa-line-chart"></i>
            </div>
            <div class="details">
                <div class="number">
                    &nbsp;
                </div>
                <div class="desc">Stok Hareketleri</div>
            </div>
        </a>
    </div>
</div>