
@{
    ViewBag.Title = "NotAuthorize";
    Layout = "~/Views/Shared/_MainRoot.cshtml";
}

<div class="col-sm-12 col-md-12 col-lg-12 text-center">
    <h2>Sayfayı Görme Yetkiniz Yoktur</h2>
    <br />
    <br />
    <img src="~/Content/Img/yasak.png" />
</div>


