<div id="enCokKazandiranUrunChart" style="height: 300px; width:100%;"></div>

<script type="text/javascript">
    var enCokKazandiranUrunData = @Html.Raw(Json.Encode(ViewBag.EnCokKazandiranUrunChartData))

    $(document).ready(function () {
        var chart = AmCharts.makeChart("enCokKazandiranUrunChart", {
            "type": "serial",
            "theme": "light",
            "dataProvider": enCokKazandiranUrunData,
            "valueAxes": [{
                "gridColor": "#FFFFFF",
                "gridAlpha": 0.2,
                "dashLength": 0
            }],
            "gridAboveGraphs": true,
            "startDuration": 2,
            "graphs": [{
                "balloon": {
                    "drop": true,
                    "adjustBorderColor": false,
                    "color": "#FFFFFF"
                },
                "fillAlphas": 0.8,
                "lineAlpha": 0.2,
                "type": "column",
                "bullet": "round",
                "bulletBorderAlpha": 1,
                "bulletColor": "#FFFFFF",
                "bulletSize": 5,
                "hideBulletsCount": 50,
                "lineThickness": 2,
                "useLineColorForBulletBorder": true,
                "valueField": "satis",
                "balloonText": "<b>[[value]] <i class='fa fa-try'></i></b>",
            }],
            "chartCursor": {
                "categoryLineEnabled": true,
                "categoryBalloonEnabled": true,
                "cursorAlpha": 1,
                "zoomable": false
            },
            "categoryField": "urun",
            "categoryAxis": {
                "gridPosition": "start",
                "gridAlpha": 0,
                "tickLength": 5,
                "title": "Ürünler",
                "labelsEnabled": false
            }
        });
    });
</script>