
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainRoot.cshtml";
}

<div class="portlet light bordered blue-soft">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-puzzle font-white"></i>
            <span class="caption-subject bold font-white uppercase"> @ViewBag.PageProperties.PageHeader </span>
            <span class="caption-helper">@ViewBag.PageProperties.PageDescription</span>
        </div>
        <div class="btn-group pull-right">
            <button type="button" class="btn green btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                İşlemler
                <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="/ProgramAyar/Index">
                        <i class="fa fa-chain"></i> Program Ayarları
                    </a>
                </li>
                <li>
                    <a href="/ProgramLog/Index">
                        <i class="fa fa-pencil"></i> Program Logları
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="" class="fullscreen" data-original-title="" title="">
                        <i class="fa fa-arrows-alt"></i> Tam Ekran
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="portlet-body">
        <div class="portlet light bordered">
            <div class="portlet-body form">
                <form action="#" class="form-horizontal" role="form">
                    <div class="form-body">
                        <div id="accordion3" class="panel-group accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_1">Bakım İşlemleri</a>
                                    </h4>
                                </div>
                                <div id="collapse_3_1" class="panel-collapse in">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <button type="button" onclick="javascript: rebuild();" class="btn green-haze" style="width:100%;">
                                                    Rebuıld Index
                                                    <i class="fa fa-recycle"></i>
                                                </button>
                                            </div>
                                            <div class="col-md-6">
                                                <button type="button" onclick="javascript: reorganize();" class="btn green-jungle" style="width:100%;">
                                                    Reorganıze Index
                                                    <i class="fa fa-recycle"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_2">Yedekleme İşlemleri</a>
                                    </h4>
                                </div>
                                <div id="collapse_3_2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                <button type="button" class="btn yellow-gold" style="width:100%;" onclick="javascript: yedekal();">
                                                    Yedek Al
                                                    <i class="fa fa-database"></i>
                                                </button>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="table-responsive">
                                                    <table id="tableYedek" class="table table-striped table-bordered table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th style="width:10%">Adı</th>
                                                                <th style="width:20%">Tarih</th>
                                                                <th style="width:10%">İşlemler</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </div>
                                                <div id="footerInfo" class="row" style="display:none;">
                                                    <div class="col-md-12">
                                                        <div class="input-group pull-left">
                                                            <p id="tableInfo" style="color: #6f6f6f;font-size: 12px;"></p>
                                                        </div>
                                                        <div class="input-group pull-right">
                                                            <ul id="ulPaging" class="no-margin pull-right"></ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section js{
    <script id="row" type="text/x-jquery-tmpl">
        <tr>
            <td>${Adi}</td>
            <td>${Tarih}</td>
            <td>
                <div class="text-center">
                    <a href="javascript: sil('${Adi}');" class="btn btn-xs red" data-toggle="tooltip" data-placement="top" title="Sil">
                        <i class="fa fa-remove"></i>
                    </a>
                    <a href="/YedeklemeBakim/YedekIndir/${Adi}" class="btn btn-xs yellow-casablanca" data-toggle="tooltip" data-placement="top" title="İndir">
                        <i class="fa fa-download"></i>
                    </a>
                </div>
            </td>
        </tr>
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            ara();
        });

        function paging(totalCount, pageCount, pageIndex) {
            $('#ulPaging').pagination('destroy');
            $('#ulPaging').pagination({
                items: totalCount,
                itemsOnPage: pageCount,
                currentPage: pageIndex,
                cssStyle: 'light-theme',
                prevText: 'Önceki Sayfa',
                nextText: 'Sonraki Sayfa',
                onPageClick: function (pageNum) {
                    ara(pageNum, pageCount);
                }
            });
        }

        function ara(pageIndex, pageCount) {
            pageIndex = pageIndex == null ? 1 : pageIndex;
            pageCount = pageCount == null ? 5 : pageCount;

            $.ajax({
                url: '/YedeklemeBakim/YedekDosyalariAra',
                data: {
                    'sayfaSayisi': pageCount,
                    'sayfaSirasi': pageIndex
                },
                type: "get",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                beforeSend: function () {
                    showLoadingModal();
                },
                success: function (result) {
                    hideLoadingModal();

                    $('#tableYedek tbody').children().remove();
                    $('#row').tmpl(result.sonucListesi).appendTo('#tableYedek tbody');

                    $('#tableYedek .make-switch').bootstrapSwitch();
                    $('[data-toggle="tooltip"]').tooltip();

                    // table info
                    var txt = '';
                    if (result.toplamKayitSayisi > 0) {
                        var firstPart = ((result.sayfaSirasi - 1) * (result.sayfaSayisi) + 1);
                        var secondPart = (result.sayfaSirasi * result.sayfaSayisi) > result.toplamKayitSayisi ? result.toplamKayitSayisi : (result.sayfaSirasi * result.sayfaSayisi);
                        txt = 'Toplam ' + result.toplamKayitSayisi + ' kayıttan ' + firstPart + '-' + secondPart + ' gösteriliyor.';

                        $('#boxTools').show();
                        $('#footerInfo').show();
                    }
                    else {
                        txt = 'Hiç kayıt bulunamadı.';

                        $('#boxTools').hide();
                        $('#footerInfo').hide();
                    }
                    $('#tableInfo').text(txt);

                    paging(result.toplamKayitSayisi, result.sayfaSayisi, result.sayfaSirasi);
                },
                error: function () {
                    hideLoadingModal();
                    callAlert('error', 'Beklenmedik bir sorun oluştu. Lütfen tekrar deneyin.');
                }
            });
        }

        function sil(id) {
            confirm('ONAY', '<p>Silmek istediğinize emin misiniz?</p>', function () {
                $.ajax({
                    url: '/YedeklemeBakim/YedekSil',
                    data: {
                        'id': id,
                    },
                    type: "get",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    beforeSend: function () {
                        showLoadingModal();
                    },
                    success: function (result) {
                        hideLoadingModal();
                        if (result) {
                            callAlert('success', 'Silme işlemi başarılı.');
                            ara();
                        }
                        else {
                            callAlert('error', 'İşlem sırasında bir sorun oluştu. Lütfen tekrar deneyin.');
                        }
                    },
                    error: function () {
                        hideLoadingModal();
                        callAlert('error', 'Beklenmedik bir sorun oluştu. Lütfen tekrar deneyin.');
                    }
                });
            });
        }

        function yedekal() {
            $.ajax({
                url: '/YedeklemeBakim/YedekAl',
                data: null,
                type: "get",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                beforeSend: function () {
                    showLoadingModal();
                },
                success: function (result) {
                    hideLoadingModal();

                    if (result) {
                        callAlert('success', 'Yedekleme işlemi başarılı bir şekilde tamamlandı.');
                    }
                    else {
                        callAlert('error', 'Yedekleme işlemi sırasında bir sorun oluştu.');
                    }

                    ara();
                },
                error: function () {
                    hideLoadingModal();
                    callAlert('error', 'Beklenmedik bir sorun oluştu. Lütfen tekrar deneyin.');
                }
            });
        }

        function yedekindir(dosyaAdi) {
            confirm('ONAY', '<p>Silmek istediğinize emin misiniz?</p>', function () {
                $.ajax({
                    url: '/YedeklemeBakim/YedekIndir',
                    data: {
                        'dosyaAdi': dosyaAdi,
                    },
                    type: "get",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    beforeSend: function () {
                        showLoadingModal();
                    },
                    success: function (result) {
                        hideLoadingModal();

                        window.location = '/YedeklemeBakim/Download?file=' + result;
                    },
                    error: function () {
                        hideLoadingModal();
                        callAlert('error', 'Beklenmedik bir sorun oluştu. Lütfen tekrar deneyin.');
                    }
                });
            });
        }

        function rebuild() {
            confirm('ONAY', '<p>İşleme devam etmek istediğinize emin misiniz?</p>', function () {
            $.ajax({
                url: '/YedeklemeBakim/Rebuild',
                data: null,
                type: "get",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                beforeSend: function () {
                    showLoadingModal();
                },
                success: function (result) {
                    hideLoadingModal();

                    if (result) {
                        callAlert('success', 'Rebuild işlemi başarılı bir şekilde tamamlandı.');
                    }
                    else {
                        callAlert('error', 'Rebuild işlemi sırasında bir sorun oluştu.');
                    }

                    ara();
                },
                error: function () {
                    hideLoadingModal();
                    callAlert('error', 'Beklenmedik bir sorun oluştu. Lütfen tekrar deneyin.');
                }
                });
            });
        }

        function reorganize() {
            confirm('ONAY', '<p>İşleme devam etmek istediğinize emin misiniz?</p>', function () {
            $.ajax({
                url: '/YedeklemeBakim/Reorganize',
                data: null,
                type: "get",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                beforeSend: function () {
                    showLoadingModal();
                },
                success: function (result) {
                    hideLoadingModal();

                    if (result) {
                        callAlert('success', 'Reorganize işlemi başarılı bir şekilde tamamlandı.');
                    }
                    else {
                        callAlert('error', 'Reorganize işlemi sırasında bir sorun oluştu.');
                    }

                    ara();
                },
                error: function () {
                    hideLoadingModal();
                    callAlert('error', 'Beklenmedik bir sorun oluştu. Lütfen tekrar deneyin.');
                }
                });
            });
        }
    </script>
}